#social-flato{
    background: #00bdbd;
}
section#social-flato> .container {
    /*padding: 40px 0;*/
}

#social-flato .social ul{
    margin: 0 auto;
    text-align: center;
    list-style-type: none;
}
#social-flato .social ul li{
    display: inline-block;
    text-align: center;
    background: #ffffff;
    color: #00bdbd;
    line-height: 42px;
    margin: 0 6px;
    width: 42px !important;
    height: 42px !important;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

#social-flato .social ul li a{
    color: #00bdbd;
    width: 42px;
    height: 42px;
}
#social-flato .social ul li i{
    line-height: 42px;
    font-size: 2em;
}
