/node_modules
/public/hot
/public/storage
/storage/*.key

/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
composer.lock
/vendor/bin
/vendor/composer/autoload_classmap.php
/vendor/composer/autoload_files.php
/vendor/composer/autoload_namespaces.php
/vendor/composer/autoload_psr4.php
/vendor/composer/autoload_real.php
/vendor/composer/autoload_static.php
/vendor/composer/ClassLoader.php
/vendor/composer/LICENSE
/vendor/dnoegel
/vendor/doctrine
/vendor/erusev
/vendor/fzaninotto
/vendor/hamcrest
/vendor/jakub-onderka
/vendor/laravel
/vendor/league
/vendor/mockery
/vendor/monolog
/vendor/mtdowling
/vendor/myclabs
/vendor/nesbot
/vendor/nikic
/vendor/paragonie
/vendor/phpdocumentor
/vendor/phpspec
/vendor/phpunit
/vendor/psr
/vendor/psy
/vendor/ramsey
/vendor/sebastian
/vendor/swiftmailer
/vendor/symfony
/vendor/tijsverkoyen
/vendor/webmozart
/vendor/autoload.php
/vendor/vlucas
/vendor/tormjens
/vendor/laravelcollective
/vendor/caffeinated
/vendor/chumper
/public/app