#contact-abrar {
    overflow: hidden;
    position: relative;
}

#contact-abrar .contact-address{
    left: 58%;
    bottom: 25px;
    padding: 40px 45px;
    position: absolute;
    background-color: rgba(45, 49, 141, 0.51);
}
@media screen and (max-width: 420px){
    #contact-abrar .contact-address {
        left: 0;
    }
}

#contact-abrar .contact-address .address-title{
    margin-bottom: 30px;
    color: #fff;
}
#contact-abrar .contact-address .address-title .address-title-head{
    color: #fff;
    margin: 0;
}
#contact-abrar .contact-address .address-title span{
    font-size: 22px;
}
#contact-abrar .contact-address .address-list{
    padding-bottom: 20px;
    position: relative;
}
#contact-abrar .contact-address .address-list:after {
    bottom: 0;
    left: 15px;
    width: 90%;
    height: 1px;
    content: '';
    position: absolute;
    background-color: #fff;
}
#contact-abrar .contact-address .address-list ul{
    margin: 0;
    padding: 0;
    color: #fff;
}
#contact-abrar .contact-address .address-list ul li{
    font-size: 18px;
    margin-bottom: 15px;
    display: block;
}
#contact-abrar .contact-address .address-list ul li i{
    margin-right: 10px;
    color: #fff;
}
#contact-abrar .contact-address .help-line{
    padding-top: 30px;
}