.input-radio-7-bty h4 {
    background: #820909;
    color: #fff;
    padding: 3px 10px;
}

.input-radio-7-bty {
    background: #ececec;
}

.input-radio-7-bty .radio-input {margin-left: 10px;}

.input-radio-7-bty h4 span {
    float: right;
}

.input-radio-2-bty h4 {
    background: #90eab7;
    color: #000;
    padding: 3px 10px;
}

.input-radio-2-bty {
    background: #ececec;
}

.input-radio-2-bty .radio-input {margin-left: 10px;}

.input-radio-2-bty h4 span {
    float: right;
}