.left-bar, .top-bar, .main-cont{
    border: 1px solid #000;
}
.left-bar{

    height: 100%;
}
.top-bar{
    min-height: 100px;
    margin-bottom: 20px;
}
.main-cont {
    min-height: 680px;
}
.div-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
