ul, li {
    list-style: none;
}
.profile-main{
    margin-top: 15px;
}
#skills-flato{
    /*background: #eeeeee;*/
    /*color: #474d5d;*/
}
section#skills-flato> .container {
    /*padding-top: 85px;*/
    /*padding-bottom: 93px;*/
}
#skills-flato .heading{
    text-align: center;
    padding-bottom: 45px;
}
#skills-flato .heading .title{
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    color: #ff675f;
}
#skills-flato .heading p{
    font-size: 14px;
    font-weight: 400;
    margin: 0;
    color: #84868d;
    line-height: 18px;
    padding-bottom: 41px;
}

#skills-flato .content-skills .skillsArea .skills{
    margin: 0 auto;
    margin-bottom: 23px;
    text-align: center;
    padding: 0;
    float: none;
}

#skills-flato .content-skills .skillsArea .skills .chart{
    position: relative;
    display: flex;
    width: 152px;
    height: 152px;
    text-align: center;
    border: 10px solid #000;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    margin: 18px auto;
}
#skills-flato .content-skills .skillsArea .skills .chart .percent{
    display: inline-block;
    font-size: 21px;
    color: #474d5d;
    z-index: 2;
}
#skills-flato .content-skills .skillsArea .skills h4{
    font-size: 19px;
    line-height: 24px;
    padding-bottom: 6px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
}
#skills-flato .content-skills .skillsArea .skills p{
    font-weight: 400;
    padding-bottom: 22px;
    margin: 0;
    color: #84868d;
    font-size: 13px;
    line-height: 18px;
    text-align: center;
}
#experience-flato{
    /*background: #fff;*/
}
section#experience-flato> .container {
    padding-top: 85px;
    padding-bottom: 93px;
}

#experience-flato .heading{
    text-align: center;
    padding-bottom: 45px;
}
#experience-flato .heading p{
    color: #84868d;
    line-height: 18px;
    padding-bottom: 41px;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}
#experience-flato .heading h2{
    font-size: 36px;
    line-height: 38px;
    padding-bottom: 0;
    font-weight: 300;
    text-transform: uppercase;
    margin: 0;
    color: #ff675f;
}

#experience-flato .content-experience .workYear{
    font-size: 17px;
    color: #fff;
    background: #ff675f;
    text-align: center;
    width: 120px;
    height: 120px;
    padding: 40px 0 40px 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
@media screen and (min-width: 1200px){
    #experience-flato .content-experience .workYear {
        width: 140px;
        height: 140px;
        padding-top: 50px;
    }
}

#experience-flato .content-experience .arrowpart{
    float: left;
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-right: 15px solid #f4f3f3;
    border-bottom: 15px solid transparent;
    margin-top: 18px;
}
#experience-flato .content-experience .exCon{
    width: auto;
    background: #f3f3f3;
    border-bottom: solid 4px #eeeeee;
    padding: 22px 47px 6px 47px;
    margin-left: 15px;
    text-align: left;
}
#experience-flato .content-experience .exCon h4{
    color: #474d5d;
    padding-bottom: 3px;
    font-weight: 700;
    font-size: 19px;
    line-height: 24px;
    margin: 0;
}
#experience-flato .content-experience .exCon h5{
    font-size: 16px;
    line-height: 24px;
    padding-bottom: 6px;
    font-weight: 400;
    margin: 0;
    color: #474d5d;
}
#experience-flato .content-experience .exCon p{
    font-size: 14px;
    font-weight: 400;
    padding-bottom: 22px;
    margin: 0;
    color: #84868d;
    line-height: 21px;
}
#experience-flato .content-experience .rightArea{
    border-left: solid 1px #eaeaea;
    padding-bottom: 47px;
}
