body, #page-wrapper{background: #e2e2e2;}
.topheader{
	background: #303034;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.37);
}
.middle-wrapper{padding:25px;}
.row > .cms_module_list{ padding: 0;}
.cms_module_list{ background: #f0f0f0; border:1px solid #c6c6c6; color:#4d4848; border-radius:5px; margin-bottom: 15px; }
.cms_module_list h3.menuText {
	color: #4d4848;
	margin: 13px 0px 0; padding: 0 12px; box-sizing:border-box;
	font-weight: bold;
	clear: both;
	display: inline-block;
	width: 100%;
}
.cms_module_list hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border: 0;
	border-top: 1px solid #cecece;
}
.cms_module_list .menuList{padding-left: 12px; padding-right: 12px;}
.cms_module_list .menuList li{
	display: block;
	width: 100%;
	background-color: #fafafa;
	height: auto;

	border-radius: 0px;
	margin: 0;
	margin-bottom: 6px;
	padding: 6px 15px;
	text-align: left; outline:solid 1px #ccc; border-left: solid 10px #499bc7;
}

.cms_module_list .menuList li a{color:#4d4848;font-size: 16px;}
.module_icon{
	background: url('../img/module_grey_icon.png') 0 0 no-repeat;
	width: 18px;
	height: 15px;
	margin-top: 5px;
	margin-right: 20px;
	float: left;
}
.module_icon_main{
	background: url('../img/module_icon.png') 12px 13px no-repeat;
	margin-top: 5px;
	margin-right: 20px;
	float: left;
	background-color: #b03b4f;
	width: 40px;
	height: 40px;
	border-radius: 50%;

}
.cms_module_list .menuList li.active{background: #306480!important;}
.cms_module_list .menuList li.active .module_icon{background: url('../img/module_icon.png') 0px 0px no-repeat;}
.cms_module_list .menuList li.active  span.module_icon_text, .cms_module_list .menuList li.active a{color: #fff!important;}
.module_upload_icon{
	float: left;
	font-size: 18px; color: #fff; line-height: 29px;
	margin-right: 8px;
}
.upload_module, .upload_module:hover, .upload_module:active, .upload_module:focus{outline:none;background: #fff; border: 1px solid #cecece; border-radius: 4px; color:#4d4848;font-size: 16px; padding: 10px 20px;}
.upload_module .fa-cloud-download{font-size: 20px; color: #548eb2;}
.upload_module_text, .module_icon_text, .module_icon_main_text{
	margin-top: 3px;
	float: left;
	font-weight: 600;
	color: #4d4848;
}
span.module_icon_text{font-weight: normal; color: #4d4848;  font-size: 16px;}
.module_icon_main_text{margin-top: 11px;}
.cms_module_list .menuList li[general-type="content"]{ width: 87%; border-top-left-radius: 0; border-bottom-left-radius: 0;}

/***** for view module ************/

.module_detail{background:#fff; border:1px solid #c6c6c6; border-radius: 3px 3px 0 0px; }
.module_detail div{margin:10px 0px;}
.module_detail_link{background:#f3f3f3;border:1px solid #c6c6c6; border-radius: 0 0px 3px 3px; border-top:0;   }
.module_detail .module-title{ font-size: 17px; color: #e8531f; font-weight: bold; }
.module_author_detail{font-size: 13px; color: #575757; text-align: right;}
.module_detail_author_link{font-style: italic;}
.module_detail_link i.fa{color:#a6a6a6;}

.module_tab li{ }
.module_tab.nav-tabs li a{border:1px solid #c6c6c6; background:#fafafa; color:#575757; border-radius:0;margin-right:0;}
.module_tab.nav-tabs>li.active>a,
.module_tab.nav-tabs>li.active>a:focus,
.module_tab.nav-tabs>li.active>a:hover,
.module_tab.nav-tabs>li a:hover{border:1px solid #c6c6c6; border-bottom:4px solid #5e95b7;  background:#fff;color:#575757;}
.module_tab.nav-tabs li:first-child a,
.module_tab.nav-tabs li:first-child a:hover,
.module_tab.nav-tabs li:first-child.active>a:hover,
.module_tab.nav-tabs li:first-child.active>a:focus{border-right:0;}

.addons{
	border: 1px solid #c6c6c6;
	border-radius: 3px;
	background: #ffffff;
}
.addons .addons-header{
	background: #fafafa;
	border-radius: 3px 3px 0 0;
	border-bottom: 1px solid #c6c6c6;
}
.addons .addons-header .addons-title{ font-weight:bold; }
.addons-link{font-style:italic;}
.addons-author-detail{color:#cbcbcb;}

.settings{ background: #7a9f75;  border: none; color: #fff;}
.deactivate{ background: #5f8490;  border: none; color: #fff;}
.delete{ background: #b05858;  border: none;color: #fff;}


.addons-settings{
	background: #7a9f75;  border: none; color: #fff;
}
.addons-deactivate{ background: #5f8490;  border: none; color: #fff;}
.addons-delete{ background: #b05858;  border: none;color: #fff;}
.addons-settings, .addons-deactivate, .addons-delete{
	padding: 5px 3px 5px 7px;
	border-radius: 50%;
}
.addons-delete{
	padding-right: 9px;
	padding-left: 9px;
	padding-bottom: 6px;
}
.addons-settings:hover, .addons-deactivate:hover, .addons-delete:hover{color:#fff; text-decoration:none;}
.round_red{
	background: #d93838;
	color:#fff;
	padding: 6px 7px 6px 7px;
	border-radius: 50%;
}

.topRow img { width: 100%;  height: auto!important; }
.template-search{ background: #f0f0f0;border-radius: 4px;border: 1px solid #cecece;}
.template-search-box{}
.templates-list{ margin-left:-15px; margin-right:-15px; }
.templates-list .templates{ background: #fff; border:1px solid #ccc; }
.template-upload-button {
	
	border-radius: 0 3px 3px 0; text-align: right
}
.template-upload-button .btnUploadWidgets { background: #ac4040; margin: 0!important; height:54px; padding: 6px 22px; border-radius: 0; }
.template-upload-button .btnUploadWidgets span.upload_module_text{font-size: 15px;  color: #ffffff; }
.templates-title .fa{
	background: #5f8490;
	border: none;
	color: #fff;
	padding:  7px 8px;
	border-radius: 50%;
}
.author-icon{color:#a6a6a6; margin-right: 5px; font-size: 15px; }
.tempalte_icon{
	width: 42px;
	position: absolute;
	top: 11px;
	right: 0;
}

.control-label { color: #656565; margin-right: 7px; margin-left: 10px; }
.control-label .fa { margin-left: 9px; margin-right: 5px; }

.tempalte_icon .addons-settings, .tempalte_icon .addons-deactivate, .tempalte_icon .addons-delete { padding: 6px 7px 6px 7px;   margin-right: 0!important; }
.tempalte_icon div { margin-top: 10px;}

.menuBox { padding: 12px 50px 0 12px; }
.menuBox .btn-group { margin-bottom: 0; }
.addBtn { position: absolute; top: 12px; right: 12px; }

.selectCat { padding-right: 4px; }
.selectCatMenu { background-color: #fff; color: #656565; position: relative; border: solid 1px #cccccc; }
.selectCatMenu .caret { right: 8px !important; }
.selectCatMenu .caret:before { content: ''; display: inline-block; width: 1px; height: 34px; background-color: #cfcfcf; position: absolute; top: -19px; bottom: 0; right: 10px; }

.rightButtons { margin-right: 13px; text-align: right; display: inline-block }
.btn.searchBtn { margin-left: 6px; color: #9a9ca1; font-size: 20px; width: 34px; height: 33px; box-shadow: 1px 1px 3px 0 rgba(2,2,2,0.14); padding: 0; line-height: 33px; }

.editIcons { background-color: #fff; border-left: solid 1px #ddd; padding: 10px 15px 10px 10px; margin-bottom: 0; display: inline-block; }
.editIcons li { display: inline-block; margin: 0 5px; }
.editIcons li a { font-size: 21px; width: 34px; height: 33px; padding: 0; line-height: 33px; vertical-align: middle; border: solid 1px #d2d3d5; box-shadow: 1px 1px 3px 0 rgba(2,2,2,0.14); }
.editIcons li a.trashBtn .fa { color: #d93838; }
.editIcons li a.copyBtn .fa { color: #4eab69; }
.editIcons li a.editBtn .fa { color: #499bc7; }
.editIcons li a:hover { box-shadow: inset 2px 2px 4px 0 rgba(1,1,1,0.10); }

.listType .btn { background-color: #efefef; color: #9a9ca1; border: solid 1px #cccccc; box-shadow: inset 0 2px 4px 0 rgba(1,1,1,0.10);}
.listType .btn.active { background-color: #fff; color: #499bc7; box-shadow: none; }
.listType .fa { font-size: 20px; vertical-align: middle}

.tpl-list .templates { border:none; box-shadow: 1px 1px 4px 0 rgba(0,0,0,0.37); border-radius: 2px; overflow: hidden; }
.tpl-list .templates:hover { color: #ffffff; box-shadow: 0 0 0 2px #499bc7, 2px 2px 3px 2px rgba(0,0,0,0.37), -1px -1px 3px 1px rgba(0,0,0,0.37); }
.tpl-list .templates:hover .templates-header { background-color: #499bc7;}
.tempalte_icon { display: none; }
.tpl-list .templates:hover .tempalte_icon { display: block !important; } 

.templates-header { display: block; text-align: center; padding-top: 10px; height: 66px; }
.templates-title { padding-top: 10px; }
.templates-buttons { padding-bottom: 10px; }


.col-xs-4.listView { width: 100%; float: none; display: block; }
.listView .templates { clear: both; height: 42px !important; overflow: hidden }

.listView .topRow { float: left; width: 25%; }
.listView .templates-header { float: right; width: 75%; text-align: left; padding-top: 0; }

.listView .templates-title { width: 33.333%; float: left; padding: 8px 0 10px; font-size: 16px; border-left: solid 1px #cecece; }
.listView .templates-buttons { width:63.333%; float: left; padding: 0; font-size: 14px;  } 
.listView .authorColumn { width:50%; float: left; background-color: #f0f0f0; color: #3d3d3d; padding: 10px 0; border-left: solid 1px #cecece; }
.listView .templates-buttons .fa { color: #499bc7 ; margin-right: 15px; }
.listView .templates-buttons .fa.calendar-icon { color: #4eab69;}
.listView .dateColumn { width:50%; color: #3d3d3d; padding: 10px 0; border-left: solid 1px #cecece; float: left; }
.tpl-list .listView .templates:hover .templates-header { background-color: inherit; color: #3d3d3d; }

.layout { background-color: #ffffff; border: solid 1px #c6c6c6; margin: 0 -10px 11px; position: relative; font-size: 15px; color: #817f7f; line-height: 18px; }
.layoutCol { padding-right: 50% ; }
.layoutImg { border: solid 1px #c6c6c6; float: left; }
.layoutData { padding: 20px 20px 0; height: 100%; overflow: hidden; min-height: 174px; position: relative; }
.layoutData h4 { font-size: 17px; color: #e8531f; }
.iconDel { font-size: 22px; background-color: #ac4040; color: #ffffff; padding: 11px 14px 10px; position: absolute; top: 0; right: 12px; }
.iconDel:hover { color: #ffffff; opacity: 0.8 }
.row.layoutFooter { margin: 0; }
.layoutFooter { background-color: #f3f3f3; padding: 7px 10px 4px; border-top: solid 1px #c6c6c6; position: absolute; left: 0; right: 0; bottom: 0; }
.centerText { text-align: center; }
.rightText { text-align: right; }

.iconRefresh { background-color: #d93838; color: #ffffff; width: 22px; height: 22px; display: inline-block; text-align: center; border-radius: 100%; line-height: 22px; margin-right: 5px; }
.fa-user { margin-right: 5px; color: #499bc7; }
.link { color: #4d6bcc; display: block;	 white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.link i { font-style: italic; }

.paginationStyle>li>a { background-color: #f3f3f3; }
.paginationStyle>li>a:hover { background-color: #fff;}
.paginationStyle>li.disabled>a { background-color: #f3f3f3; }

.loadding { display: block; text-align: center; }
.loadImg, .loadImgBlue { background: url(/app/Modules/Resources/img/ajax-loader.gif) no-repeat 0 0; background-size: 100%; width: 100px; height: 100px; display: inline-block; }
.loadImgBlue { background: url(/app/Modules/Resources/img/ajax-loader-blue.gif); }

.btnLoadmore .loadImg { background: url(/app/Modules/Resources/img/ajax-loader2.gif) no-repeat 0 0; background-size: 100%; width: 25px; height: 25px; margin-right: 5px; vertical-align: middle; }


@media (min-width: 1200px) and (max-width: 1500px) { 
	.layoutFooter { position: inherit; bottom: auto; left: auto; right: auto; }
}

@media (min-width: 1200px) and (max-width: 1300px) { 
	.rightButtons { margin-right: 0;}
	.editIcons { padding-right: 10px; }
	.editIcons li { margin: 0;}
}

@media only screen and (max-width : 1200px) {

	.rightButtons { text-align: left; padding-top: 10px; }	
	.template-upload-button { text-align: left; padding-left: 15px; }
	
	.layoutCol { padding-right: 20%; }
	.link { margin-bottom: 5px;  }
	.centerText, .rightText { text-align: left; margin-bottom: 5px; }
	
	.layoutFooter { position: inherit; bottom: auto; left: auto; right: auto; }
}

@media only screen and (max-width : 992px) {
	.template-upload-button { padding-left: 10px; }
	.btn.searchBtn { margin-left: 5px; }
	.editIcons li { margin: 0 3px; }
	
}

@media only screen and (max-width : 768px) {
	.layoutData { padding: 10px 10px 0; }
	.layoutImg { float: none; width: 100%; }
	
	.row.layoutFooter { margin: 0 -10px; }
}




ul.field_tabs{
	margin: 0px;
	padding: 0px;
	list-style: none;
}
ul.field_tabs li{
	background: none;
	color: #222;
	display: inline-block;
	padding: 10px 15px;
	cursor: pointer;
}

ul.field_tabs li.current{
	background: #ededed;
	color: #222;
}

 .tab-content{
	 padding: 28px;
}

#available_fields_modal .tab-content{
	display: none;
}
#available_fields_modal  .tab-content.current{
	display: block;
}
.addon-list{
	background-color: #f47371;
}


/*Unit 2*/
.bty-unit-2 {
	float: left;
	/*padding: 0 1.7rem;*/
	width: 50%;
}

.bty-unit-2 ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.custom_margin_5 {
	margin:5px;
}
.bty-unit-2 ul::before, .bty-unit-2 ul::after {
	content: '';
	display: table;
}

.bty-unit-2 ul::after {
	clear: both;
}

.bty-unit-2 ul li {
	display: inline-block;
}

.bty-unit-2 ul a {
	color: #fff;
}

.bty-unit-2 ul span {
	position: absolute;
	left: 50%;
	top: 0;
	font-size: 10px;
	font-weight: 700;
	-webkit-transform: translate(-50%, 0);
	transform: translate(-50%, 0);
}

.bty-unit-2 > div {
	background-color: #fff;
	max-height: 365px;
	position: relative;
	overflow: hidden;
	/*box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.2);*/
}

.bty-unit-2 > div:hover div:last-child {
	-webkit-transform: translateY(0);
	transform: translateY(0);
}

.bty-unit-2 div.custom_div_for_tags {
	position: absolute;
	bottom: 0;
	width: 100%;
	-webkit-transform: translateY(calc(70px + 1em));
	transform: translateY(calc(70px + 1em));
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
}
.bty-unit-2 div.custom_div_for_tags_when_not{
	-webkit-transform: translateY(calc(41px + 1em));
	transform: translateY(calc(41px + 1em));
    position: absolute;
    bottom: 0;
    width: 100%;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s;
}

.bty-unit-2 > div >div:last-child > div {
	padding: 1em;
	position: relative;
	z-index: 1;
}

.bty-unit-2 > div >div:last-child > div > span {
	font-size: 30px;
}

.bty-unit-2 > div >div:last-child > div h5 {
	margin-top: 10px;
}

.bty-unit-2 > div >div:last-child > div p {
	height: 70px;
	margin: 0;
	color: #555;
}

.bty-unit-2 input[type='checkbox'] {
	display: none;
}

.bty-unit-2 input[type='checkbox']:checked + ul {
	-webkit-transform: translateY(-60px);
	transform: translateY(-60px);
}

.bty-unit-2 > div> div:first-child {
	position: absolute;
	top: 0;
	left: 0;
	background-color: #499bc7;
	color: #fff;
	padding: 0.8em;
}

.bty-unit-2 > div >div:first-child span {
	display: block;
	text-align: center;
}

.bty-unit-2 > div >div:first-child span:nth-of-type(1) {
	font-weight: 700;
	font-size: 24px;
	text-shadow: 2px 3px 2px rgba(0, 0, 0, 0.18);
}

.bty-unit-2 > div >div:first-child span:nth-of-type(2) {
	text-transform: uppercase;
}

.bty-unit-2 > div >div:first-child span:nth-of-type(2),
.bty-unit-2 > div >div:first-child span:nth-of-type(3) {
	font-size: 12px;
}

.bty-unit-2 > div >div:last-child > div {
	background-color: #fff;
	box-shadow: 0 5px 30px 10px rgba(0, 0, 0, 0.3);
}

.bty-unit-2 > div> div:last-child h5 a {
	color: gray;
	font-size: 24px;
}

.bty-unit-2 > div >div:last-child h5 a:hover {
	text-decoration: none;
}

.bty-unit-2 > div >div:last-child > div label {
	position: absolute;
	z-index: 999;
	top: 16px;
	right: 16px;
	width: 25px;
	text-align: center;
	cursor: pointer;
}

.bty-unit-2 > div >div:last-child > div label span {
	width: 5px;
	height: 5px;
	background-color: gray;
	color: gray;
	position: relative;
	display: inline-block;
	border-radius: 50%;
}

.bty-unit-2 > div> div:last-child > div label span::after, .bty-unit-2 > div >div:last-child > div label span::before {
	content: '';
	display: block;
	width: 5px;
	height: 5px;
	background-color: currentColor;
	position: absolute;
	border-radius: 50%;
}

.bty-unit-2 > div> div:last-child > div label span::before {
	left: -10px;
}

.bty-unit-2 > div >div:last-child > div label span::after {
	right: -10px;
}

.bty-unit-2 > div >div:last-child>ul {
	text-align: center;
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	-webkit-transition: -webkit-transform 0.3s;
	transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
	transition: transform 0.3s, -webkit-transform 0.3s;
	-webkit-transform: translateY(0);
	transform: translateY(0);
	opacity: 0;
}
.bty-unit-2 > div:hover>div:last-child>ul{
	opacity: 1;
}

.bty-unit-2 > div >div:last-child>ul li {
	width: 50%;
	float: left;
	background-color: #499bc7;
	height: 60px;
	position: relative;
}

.bty-unit-2 > div >div:last-child>ul a {
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	font-size: 24px;
}

.bty-unit-2 > div >div:last-child>ul span {
	top: -10px;
}

.bty-unit-2 > div >div:last-child > div span:first-child {
	text-align: left;
}
.bty-unit-2 > div> div:last-child > div>ul{
	margin:0;
	padding:0;
	list-style:none;
}

.bty-unit-2 > div >div:last-child > div>ul li, .bty-unit-2 > div div:last-child > div>ul a{
	float:left;
	height:24px;
	line-height:24px;
	position:relative;
	font-size:11px;
	margin-bottom: 5px;
}

.bty-unit-2 > div>div:last-child > div>ul a{
	margin-left:20px;
	padding:0 10px 0 12px;
	background:#499bc7;
	color:#fff;
	text-decoration:none;
	-moz-border-radius-bottomright:4px;
	-webkit-border-bottom-right-radius:4px;
	border-bottom-right-radius:4px;
	-moz-border-radius-topright:4px;
	-webkit-border-top-right-radius:4px;
	border-top-right-radius:4px;
}

.bty-unit-2 > div>div:last-child > div>ul a:before{
	content:"";
	float:left;
	position:absolute;
	top:0;
	left:-12px;
	width:0;
	height:0;
	border-color:transparent #499bc7 transparent transparent;
	border-style:solid;
	border-width:12px 12px 12px 0;
}

.bty-unit-2 > div>div:last-child > div>ul a:after{
	content:"";
	position:absolute;
	top:10px;
	left:0;
	float:left;
	width:4px;
	height:4px;
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	background:#fff;
	-moz-box-shadow:-1px -1px 2px #004977;
	-webkit-box-shadow:-1px -1px 2px #004977;
	box-shadow:-1px -1px 2px #004977;
}

.bty-unit-2 > div>div:last-child > div>ul a:hover {
	background:#555;
}

.bty-unit-2 > div>div:last-child > div>ul a:hover:before {
	border-color:transparent #555 transparent transparent;
}

/*Filter tab*/


.bty-filter-tab h1, .bty-filter-tab h2 {
	color: #888888;
}

.bty-filter-tab h1 {
	text-transform: uppercase;
	font-size: 36px;
	line-height: 42px;
	letter-spacing: 3px;
	font-weight: 100;
	color: white;
}

.bty-filter-tab h2 {
	font-size: 16px;
	line-height: 43px;;
	font-weight: 300;
	letter-spacing: 1px;
	display: block;
	background-color: #525252;
	margin: 0;
	cursor: pointer;
	color: #ccc;
	padding-left: 10px;
}

.bty-filter-tab ul>li >div {
	color: #e2e2e2;
	font-size: 16px;
	letter-spacing: 1px;
	position: relative;
	overflow: hidden;
	max-height: 800px;
	opacity: 1;
	transform: translate(0, 0);
	z-index: 2;
	background-color: #5252525c;
}
.bty-filter-tab ul>li >div >div:first-of-type{
	text-align: center;
	margin: 15px 0;
}
.bty-filter-tab ul>li >div >div:first-of-type .bty-new-input-radio{
	display: inline-block;
	padding: 0 15px;
}
.bty-filter-tab .bty-new-select{
	width: 80%;
	margin: 0 auto;
	margin-bottom: 15px;
	border-radius: 7px;
}
.bty-filter-tab .bty-new-select select{
	height: 36px;
	background-color: white;
	color: #555;
}
.bty-filter-tab .bty-new-select:after{
	color: #ccc;
	background-color: white;
}

.bty-filter-tab ul {
	list-style: none;
	padding: 0;
	margin: 0;
	padding-bottom: 25px;
	border-bottom: 2px solid #696969;
}

.bty-filter-tab ul li {
	position: relative;
	padding: 0;
	margin: 0;
	margin-bottom: 5px;
}

.bty-filter-tab ul li>i {
	position: absolute;
	transform: translate(-15px, 0);
	margin-top: 16px;
	right: 0;
}

.bty-filter-tab ul li>i:before, .bty-filter-tab ul li>i:after {
	content: "";
	position: absolute;
	background-color: #ccc;
	width: 3px;
	height: 9px;
}

.bty-filter-tab ul li>i:before {
	transform: translate(-2px, 0) rotate(45deg);
}

.bty-filter-tab ul li>i:after {
	transform: translate(2px, 0) rotate(-45deg);
}

.bty-filter-tab ul li input[type=checkbox] {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;
	z-index: 1;
	opacity: 0;
}

.bty-filter-tab ul li input[type=checkbox]:checked ~ div {
	margin-top: 0;
	max-height: 0;
	opacity: 0;
	transform: translate(0, 50%);
}

.bty-filter-tab ul li input[type=checkbox]:checked +i:before {
	transform: translate(2px, 0) rotate(45deg);
}

.bty-filter-tab ul li input[type=checkbox]:checked +i:after {
	transform: translate(-2px, 0) rotate(-45deg);
}
.bty-filter-tab .calendar{
	display: table;
	margin-bottom: 15px;
	width: 100%;
	text-align: center;
}
.bty-filter-tab .calendar span{
	padding: 6px 12px;
	font-size: 14px;
	font-weight: 400;
	line-height: 1;
	color: #ccc;
	text-align: center;
	background-color: #5a5a5a;
	border: 1px solid #ccc;
	vertical-align: middle;
}
.bty-filter-tab .calendar span:nth-of-type(1){
	border-radius: 5px 0 0 5px;
}
.bty-filter-tab .calendar span:nth-of-type(3){
	border-radius: 0 5px 5px 0;
}
.bty-filter-tab .calendar input{
	border: 1px solid #ccc;
	height: 30px;
	padding: 5px 10px;
	font-size: 12px;
	display: table-cell;
	width: 25%;
}
.bty-filter-tab  button[type=submit]{
	float: right;
	margin-top: 30px;
	padding: 6px 30px;
	border-radius: 6px;
	background-color: #499bc7;
	border-style: none;
	color: white;
	font-size: 16px;
	transition: 0.5s ease;
}
.bty-filter-tab  button[type=submit]:hover{
	background-color: #477aa5;
}
.bty-filter-blue{
	box-shadow: 0 10px 0 0 #3a7798 inset;
	background-color: #499bc7;
}
.bty-filter-blue h2{
	background-color: #3a7798;
	color: white;
}
.bty-filter-blue >ul>li >div{
	background-color: #3a77985e;
}
.bty-filter-blue button[type=submit]{
	background-color: #3a7798;
}
.bty-filter-blue .calendar span{
	background-color: #448eb5;
	color: white;
}
.bty-filter-blue >ul{
	border-bottom: 2px solid #3a7798;
}
.bty-filter-blue ul li>i:before, .bty-filter-blue ul li>i:after {
	background-color: white;
}

.bty-new-input-radio input {
	display: none;
}

.bty-new-input-radio label {
	position: relative;
	cursor: pointer;
	padding-left: 28px;
}

.bty-new-input-radio label:before, .bty-new-input-radio label:after {
	content: "";
	position: absolute;
	border-radius: 50%;
	-moz-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.bty-new-input-radio label:before {
	top: 0;
	left: 0;
	width: 18px;
	height: 18px;
	background: rgba(73, 155, 199, 0.74);
	-moz-box-shadow: inset 0 0 0 18px #E0E0E0;
	-webkit-box-shadow: inset 0 0 0 18px #E0E0E0;
	box-shadow: inset 0 0 0 18px #E0E0E0;
}

.bty-new-input-radio label:after {
	top: 49%;
	left: 9px;
	width: 54px;
	height: 54px;
	opacity: 0;
	background: rgba(255, 255, 255, 0.3);
	-moz-transform: translate(-50%, -50%) scale(0);
	-ms-transform: translate(-50%, -50%) scale(0);
	-webkit-transform: translate(-50%, -50%) scale(0);
	transform: translate(-50%, -50%) scale(0);
}

.bty-new-input-radio input:checked + label:before {
	-moz-box-shadow: inset 0 0 0 4px #E0E0E0;
	-webkit-box-shadow: inset 0 0 0 4px #E0E0E0;
	box-shadow: inset 0 0 0 4px #E0E0E0;
}

.bty-new-input-radio input:checked + label:after {
	-moz-transform: translate(-50%, -50%) scale(1);
	-ms-transform: translate(-50%, -50%) scale(1);
	-webkit-transform: translate(-50%, -50%) scale(1);
	transform: translate(-50%, -50%) scale(1);
	-moz-animation: ripple 1s none;
	-webkit-animation: ripple 1s none;
	animation: bty-new-input-radio-ripple 1s none;
}

@-moz-keyframes bty-new-input-radio-ripple {
	5%, 100% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
}

@-webkit-keyframes bty-new-input-radio-ripple {
	5%, 100% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
}

@keyframes bty-new-input-radio-ripple {
	5%, 100% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
}
.bty-new-select select {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	appearance: none;
	outline: 0;
	box-shadow: none;
	border: 0 !important;
	background: #4c7f9a;
	background-image: none;
}

.bty-new-select {
	position: relative;
	display: block;
	width: 100%;
	/*height: 100%;*/
	background: #4c7f9a;
	overflow: hidden;
}

.bty-new-select select {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0 0 0 .5em;
	color: #fff;
	cursor: pointer;
}

.bty-new-select select::-ms-expand {
	display: none;
}

.bty-new-select::after {
	content: '\25BC';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	padding: 9px 12px;
	background: #34637b;
	pointer-events: none;
}

.bty-new-select:hover::after {
	color: #fff;
}

.bty-new-select::after {
	-webkit-transition: .25s all ease;
	-o-transition: .25s all ease;
	transition: .25s all ease;
}
