.left-bar, .main-cont, .top, .bottom{
    border: 1px solid #000;
}
.left-bar{

    height: 100%;
}

.main-cont {
    min-height: 640px;
}
.div-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.top{
    min-height: 100px;
    margin-bottom: 20px;
}
.bottom{
    min-height: 100px;
    margin-top: 20px;
}