.colleft, .colright, .colcenter{
    min-height: 400px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.colcontent{
    margin: 20px 0;
}
.colleft>div, .colright>div, .colcenter>div{
    border: 1px solid #000;
    padding: 15px;
    width: 100%;
}
.colcontent>div{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}
.colleft{
    padding: 0;
}
.colright{
    padding: 0;
}
@media screen and (max-width: 699px){
    .colcontent>div{
        display: block;
    }
    .colright, .colcontent{
        padding: 0;
    }
}