.bty-message-3{
    background-color: white;
}
.bty-message-3 ul{
    padding: 20px;
    list-style: none;
    margin:0;
}
.bty-message-3 ul li img{
    width: 50px;
    height: 50px;
    object-fit: cover;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.bty-message-3 ul li{
    display: flex;
    margin-bottom: 30px;
}
.bty-message-3 ul li div:nth-of-type(1){
    flex-shrink: 0;
}
.bty-message-3 ul li div:nth-of-type(2){
    padding: 0 10px;
}
.bty-message-3 ul li div:nth-of-type(2) h5{
    color: #99abb4;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 7px;
}
.bty-message-3 ul li div:nth-of-type(2) p{
    margin: 0;
    color: #777;
    border-radius: 4px;
    padding: 10px;
}
.bty-message-3 ul li:nth-of-type(odd) p{
    background-color: #cfecfe;
}
.bty-message-3 ul li:nth-of-type(even) p{
    background-color: #e8fdeb;
}
.bty-message-3 ul li div:nth-of-type(3){
    flex-shrink: 0;
    font-size: 13px;
    color: #99abb4;
    align-self: flex-end;
}
.bty-message-3>div{
    padding: 15px 20px;
    width: 100%;
    border-top: 1px solid #eee;
    display: table;
}
.bty-message-3>div div:first-of-type{
    width: 100%;
    display: table-cell;
}
.bty-message-3>div div:last-of-type{
    display: table-cell;
}
.bty-message-3>div textarea{
    resize: none;
    border: none;
    width: 100%;
    vertical-align: middle;
}
.bty-message-3>div textarea:focus{
    outline: none;
}
.bty-message-3>div div:last-of-type button{
    display: table-cell;
    background-color: #499bc7;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
}
.bty-message-3>div textarea::-webkit-input-placeholder {
    color: #ccc;
}

.bty-message-3>div textarea:-moz-placeholder {
    color: #ccc;
}

.bty-message-3>div textarea:-ms-input-placeholder {
    color: #ccc;
}.bty-message-col-3 {
    background-color: white;
}

.bty-message-col-3 ul {
    padding: 20px;
    list-style: none;
    margin: 0;
}

.bty-message-col-3 ul li img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

.bty-message-col-3 ul li {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;
}


.bty-message-col-3 ul li div:nth-of-type(2) {
    padding: 0 10px;
}

.bty-message-col-3 ul li div:nth-of-type(2) h5 {
    color: #99abb4;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 7px;
}

.bty-message-col-3 ul li div:nth-of-type(2) p {
    margin: 0;
    color: #777;
    border-radius: 4px;
    padding: 10px;
}

.bty-message-col-3 ul li:nth-of-type(odd) p {
    background-color: #cfecfe;
}

.bty-message-col-3 ul li:nth-of-type(even) p {
    background-color: #e8fdeb;
}

.bty-message-col-3 ul li div:nth-of-type(3) {
    flex-shrink: 0;
    font-size: 13px;
    color: #99abb4;
    align-self: center;
}

.bty-message-col-3 > div {
    padding: 15px 20px;
    width: 100%;
    border-top: 1px solid #eee;
    display: table;
}

.bty-message-col-3 > div div:first-of-type {
    width: 100%;
    display: table-cell;
}

.bty-message-col-3 > div div:last-of-type {
    display: table-cell;
}

.bty-message-col-3 > div textarea {
    resize: none;
    border: none;
    width: 100%;
    vertical-align: middle;
}

.bty-message-col-3 > div textarea:focus {
    outline: none;
}

.bty-message-col-3 > div div:last-of-type button {
    display: table-cell;
    background-color: #499bc7;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
}

.bty-message-col-3 > div textarea::-webkit-input-placeholder {
    color: #ccc;
}

.bty-message-col-3 > div textarea:-moz-placeholder {
    color: #ccc;
}

.bty-message-col-3 > div textarea:-ms-input-placeholder {
    color: #ccc;
}.bty-message-dark-3 {
    background-color: #444444;
    box-shadow: 0 0 4px #444;
}

.bty-message-dark-3 ul {
    padding: 20px;
    list-style: none;
    margin: 0;
}

.bty-message-dark-3 ul li img {
    width: 100%;
    height: 150px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid #fff;
    padding: 4px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}

.bty-message-dark-3 ul li {
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    align-items: center;

}
.bty-message-dark-3 ul li:hover img{
    -ms-filter: grayscale(100%);
    filter: grayscale(100%);
}


.bty-message-dark-3 ul li div:nth-of-type(2) {
    padding: 0 10px;
    box-shadow: 0 0 4px #fff;
    margin: inherit;
    align-self: normal;
}

.bty-message-dark-3 ul li div:nth-of-type(2) h5 {
    color: #d2d2d2;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
}

.bty-message-dark-3 ul li div:nth-of-type(2) p {
    margin: 0;
    color: #c5c5c5;
    border-radius: 4px;
    padding: 10px 0;
}


.bty-message-dark-3 ul li div:nth-of-type(3) {
    flex-shrink: 0;
    font-size: 13px;
    color: #99abb4;
    align-self: center;
}

.bty-message-dark-3 > div {
    padding: 15px 20px;
    width: 100%;
    border-top: 1px solid #eeeeee7a;
    display: table;
}

.bty-message-dark-3 > div div:first-of-type {
    width: 100%;
    display: table-cell;
}

.bty-message-dark-3 > div div:last-of-type {
    display: table-cell;
}

.bty-message-dark-3 > div textarea {
    resize: none;
    border: none;
    width: 100%;
    vertical-align: middle;
    background-color: #444444;
}

.bty-message-dark-3 > div textarea:focus {
    outline: none;
}

.bty-message-dark-3 > div div:last-of-type button {
    display: table-cell;
    background-color: #000000;
    border: 0;
    border-radius: 50%;
    width: 45px;
    height: 45px;
    color: white;
    outline: none;
    box-shadow: 0 0 11px 2px #fff;
}

.bty-message-dark-3 > div textarea::-webkit-input-placeholder {
    color: #ccc;
}

.bty-message-dark-3 > div textarea:-moz-placeholder {
    color: #ccc;
}

.bty-message-dark-3 > div textarea:-ms-input-placeholder {
    color: #ccc;
}