.iconpicker .iconpicker-item{
    color: black !important;
}
.form-group.columns_list:after {
    content: "";
    clear: both;
    display: table;
}
.data-source-box:after{
    content: "";
    clear: both;
    display: table;
}
.bty-settings-panel input[type="checkbox"]{
    margin: 0;
}
.input-checkbox-5-bty label:after{
    background: linear-gradient(to bottom, #158dc6 0%, #158dc6 100%);
}
.bty-settings-panel .select2-container{
    width: 100% !important;
}
.custom_hidden{
    display:none;
}
.customcheck{
    margin: 0;
    padding: 0;
    position: relative;
    padding-left: 22px;
    min-width: 112px;
}
.customcheck input[type="checkbox"]{
    display: none;
}
.customcheck label{
    display: inline-block;
    vertical-align: middle;
}
.customcheck label:before{
    content: "";
    display: inline-block;
    position: absolute;
    width: 13px;
    height: 13px;
    left: 0;
    margin: 6px 0 0 0;
    padding: 0;
    border: 0px solid #cccccc;
    border-radius: 3px;
    background-color: #404040;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.customcheck input[type="checkbox"]:checked + label::before, .customcheck input[type="radio"]:checked + label::before {
    background-color: #467a3f;
}