.bty-notification-1 {
    background-color: white;
}
.bty-notification-1>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.bty-notification-1>ul li{
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}
.bty-notification-1>ul li>div:nth-of-type(1){
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
    width: 45px;
    white-space: normal;
}
.bty-notification-1>ul li>div:nth-of-type(2){
    white-space: normal;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}
.bty-notification-1>ul li>div:nth-of-type(1) >span{
    line-height: 48px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
}
.bty-notification-1>ul li:nth-of-type(odd)>div:nth-of-type(1) >span{
    background: #1e88e5;
}
.bty-notification-1>ul li:nth-of-type(even)>div:nth-of-type(1) >span{
    background: #fc4b6c;
}
.bty-notification-1>ul li>div:nth-of-type(2) h6{
    margin: 5px 0 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
.bty-notification-1>ul li>div:nth-of-type(2) span{
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}
.bty-notification-1>ul li:hover{
    background-color: rgba(238, 238, 238, 0.75);
}.bty-notification-center-1 {
    background-color: white;
}
.bty-notification-center-1>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.bty-notification-center-1>ul li{
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    text-decoration: none;
    padding: 9px 15px;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}
.bty-notification-center-1>ul li>div:nth-of-type(1){
    position: relative;
    display: inline-block;
    margin: 10px 0;
    white-space: normal;
}
.bty-notification-center-1>ul li>div:nth-of-type(2){
    vertical-align: middle;
    overflow: hidden;
}
.bty-notification-center-1>ul li>div:nth-of-type(1) >span{
    line-height: 48px;
    color: #ffffff;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
    /*background: #1e88e5;*/
}
.bty-notification-center-1>ul li>div:nth-of-type(1) >span>i{
    font-size: 22px;
}
.bty-notification-center-1>ul li:nth-of-type(odd)>div:nth-of-type(1) >span{
    background: #1e88e5;
}
.bty-notification-center-1>ul li:nth-of-type(even)>div:nth-of-type(1) >span{
    background: #fc4b6c;
}
.bty-notification-center-1>ul li>div:nth-of-type(2) h6{
    margin: 5px 0 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
.bty-notification-center-1>ul li>div:nth-of-type(2) span{
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}
.bty-notification-center-1>ul li:hover{
    background-color: rgba(238, 238, 238, 0.75);
}.bty-notification-right-1 {
    background-color: white;
}
.bty-notification-right-1>ul{
    list-style: none;
    padding: 0;
    margin: 0;
    box-shadow: inset 0 0 9px 1px #888;
}
.bty-notification-right-1>ul li{
    border-bottom: 1px solid rgba(120, 130, 140, 0.13);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
}
.bty-notification-right-1>ul li>div:nth-of-type(1){
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
    width: 45px;
    white-space: normal;
    float: right;
}
.bty-notification-right-1>ul li>div:nth-of-type(2){
    white-space: normal;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
}
.bty-notification-right-1>ul li>div:nth-of-type(1) >span{
    line-height: 48px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
}
.bty-notification-right-1>ul li:nth-of-type(odd)>div:nth-of-type(1) >span{
    background: #1e88e5;
}
.bty-notification-right-1>ul li:nth-of-type(even)>div:nth-of-type(1) >span{
    background: #fc4b6c;
}
.bty-notification-right-1>ul li>div:nth-of-type(2) h6{
    margin: 5px 0 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
.bty-notification-right-1>ul li>div:nth-of-type(2) span{
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #67757c;
    white-space: nowrap;
}
.bty-notification-right-1>ul li:hover{
    background-color: rgba(238, 238, 238, 0.75);
}.bty-notification-dark-1 {
    background-color: #252525;
}
.bty-notification-dark-1>ul{
    list-style: none;
    padding: 0;
    margin: 0;
}
.bty-notification-dark-1>ul li{
    border-bottom: 1px solid rgba(254, 254, 255, 0.31);
    display: block;
    text-decoration: none;
    padding: 9px 15px;
    -webkit-transition:all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.bty-notification-dark-1>ul li>div:nth-of-type(1){
    position: relative;
    display: inline-block;
    margin: 0 10px 15px 0;
    width: 45px;
    white-space: normal;
}
.bty-notification-dark-1>ul li>div:nth-of-type(2){
    white-space: normal;
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    border-left: 1px solid #fff6;
    padding-left: 10px;
    color: white;
}
.bty-notification-dark-1>ul li>div:nth-of-type(1) >span{
    line-height: 48px;
    color: #ffffff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-weight: 400;
    text-align: center;
    border-radius: 100%;
}
.bty-notification-dark-1>ul li:nth-of-type(odd)>div:nth-of-type(1) >span{
    background: #1e88e5;
}
.bty-notification-dark-1>ul li:nth-of-type(even)>div:nth-of-type(1) >span{
    background: #fc4b6c;
}
.bty-notification-dark-1>ul li>div:nth-of-type(2) h6{
    margin: 5px 0 0;
    line-height: 18px;
    font-size: 16px;
    font-weight: 400;
}
.bty-notification-dark-1>ul li>div:nth-of-type(2) span{
    font-size: 12px;
    display: block;
    margin: 1px 0;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #ccc;
    white-space: nowrap;
}
.bty-notification-dark-1>ul li:hover{
    background-color: rgba(255, 255, 255, 0.26);
}