.about-us-team h2{
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    color: #222222;
    font-size: 28px;
    line-height: 1.1em;
    margin-bottom: 10px;
    font-weight: 600;
}
.about-us-team h2+p{
    text-align: center;
    margin: 2em 1em;
    color: #666666;
}
.about-us-team .member{
    margin-bottom: 3em;
}
.about-us-team .member .team-img-container{
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 10px;
    border-color: #e1e1e1;

}
.about-us-team .member .team-img-container:hover .team-social {
    visibility: visible;
    opacity: 1;
}
.about-us-team .member .team-img-container .image-team{
    width: 100%;
    height: 360px;
    object-fit: cover;
}
.about-us-team .member .team-img-container .team-social{
    border: 7px solid rgba(0,0,0,0.1);
    position: absolute;
    font-size: 19px;
    background: #fff;
    background: rgba(255,255,255,0.7);
    opacity: 0;
    visibility: hidden;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    border-radius: 3px;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
}
.about-us-team .member .team-img-container .team-social .team-social-inner{
    width: 100%;
    padding: 0 5%;
    position: absolute;
    top: 50%;
    margin-top: -26px;
    left: 0;
    display: flex;
    justify-content: center;
}
.about-us-team .member .team-img-container .team-social .team-social-inner a{
    text-decoration: none;
    position: relative;
    border-radius: 30px;
    padding: 0 16px;
    background: #fff;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 53px;
    line-height: 54px;
    width: 53px;
    color: #919191;
}
.about-us-team .member .team-img-container .team-social .team-social-inner a:hover{
    color: #419cca;
}
.about-us-team .member .name{
    color: #222222;
}
.about-us-team .member .job-title{
    color: #919191;
    margin-top: -7px;
    font-size: 1em;
}
.about-us-team .member .description{
    margin: 0.85em 0;
    color: #666666;
}
