.ui-sortable-handle:hover, .ui-sortable > div:hover {
    outline: 2px dashed #e2e2e2;
    outline-offset: 5px;
    cursor: move;
}

.form-builder-area:empty {
    outline: 1px dashed #c0c0c0;
    position: relative;
    height: 50px;
    margin-bottom: 20px;
}

.form-builder-area:empty:after {
    content: "Drop Form Fields Here";
    color: #bdbdbd;
    position: absolute;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 50px;
}

.form-builder-tabs .tab-pane {
    padding: 15px 0;
}

a.bb-form-layout {
    margin-right: 30px;
    text-decoration: none;
}

.bb-form-header {
    background: #78909C;
    color: #fff;
    padding: 10px 15px;
    margin: 0 -15px;
}

input.form-name {
    margin-left: 10px;
    text-indent: 5px;
    border: none;
    padding: 5px;
    width: 200px;
    color: #000;
}

button.form-save {
    background: #e4d700;
    color: #524e02;
    border: none;
    font-weight: bold;
    padding: 5px 30px;
    text-transform: uppercase;
}

button.panel-trigger {
    background: #20639e;
    color: #ffffff;
    border: none;
    font-weight: bold;
    padding: 5px 30px;
    text-transform: uppercase;
    margin-right: 10px;
}

.bb-form-options {
    background: #848484;
    padding: 10px 15px;
    display: table;
    width: 100%;
}

.tab-actions {
    position: absolute;
    right: 0;
}

.form-element-item {
    border: 1px solid #d0d0d0;
    background: #f1f1f1;
    border-radius: 3px;
    padding: 3px 10px;
    float: left;
    margin-right: 10px;
    user-select: none;
    cursor: move;
    font-size: 15px;
    margin-bottom: 10px;
    z-index: 999999999;
}

.form-builder-tabs {
    position: relative;
}

.form-layout {
    width: 360px;
}

.form-style {
    margin-right: 10px;
}

.bb-form-container {
    padding: 10px 20px;
}

.form-preview {
    background: #464646;
    color: #fff;
    font-size: 17px;
    padding: 10px;
    text-transform: uppercase;
    text-align: center;
    top: 5px;
    position: relative;
}

.bb-fields-list {
    margin: 10px;
}

.bb-fields-list div {
    cursor: move;
    border: 1px dashed #b3b3b3;
    text-transform: capitalize;
    text-indent: 10px;
    margin-bottom: 10px;
    line-height: 35px;
    background: #f3f3f3;
    width: 200px;
    user-select: none;
}

button.disabled {
    opacity: 0.6;
    pointer-events:  none;
}

.form-elements-list {
    padding: 10px;
}

.jsPanel-theme-primary {
    background-color: #000000;
    border-color: #000000;
}

.jsPanel-theme-primary .jsPanel-content {
    background-color: #1b1b1b;
    color: #fff;
}