/*@import url('https://fonts.googleapis.com/css?family=ABeeZee:400,400i');@import url('https://fonts.googleapis.com/css?family=Aclonica:400');*/
/**{margin:0; margin: 0;}*/
/**{ -webkit-box-sizing: border-box; -moz-box-sizing: border-box;  box-sizing: border-box;}*/
/**:before, *:after {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}*/

/*!*======= Extract from normalize.css by Nicolas Gallagher and Jonathan Neal git.io/normalize ======*!*/
/*html {line-height: 1.15;  -ms-text-size-adjust: 100%; -webkit-text-size-adjust: 100%;}*/
/*article, aside, footer, header, nav, section, details, figcaption, figure, main, menu,summary,hgroup { display: block;}*/
/*audio, canvas, progress, video {  display: inline-block;}*/
/*progress{vertical-align:baseline}*/
/*[hidden],template{display:none}*/
/*summary {display: list-item;}*/
/*audio:not([controls]) { display: none;height: 0;}*/
/*figure {margin: 1em 40px;}*/
/*hr { box-sizing: content-box; height: 0; overflow: visible; }*/
/*pre {font-family: monospace, monospace; font-size: 1em;}*/
/*a { background-color: transparent;  -webkit-text-decoration-skip: objects;}*/
/*abbr[title] { border-bottom: none;   text-decoration: underline;   text-decoration: underline dotted; }*/
/*b, strong { font-weight: bolder;}*/
/*code, kbd, samp { font-family: monospace, monospace; font-size: 1em;}*/
/*dfn { font-style: italic;}*/
/*mark { background-color: #ff0; color: #000;}*/
/*small { font-size: 80%;}*/
/*sub, sup {  font-size: 75%;  line-height: 0;  position: relative;  vertical-align: baseline;}*/
/*sub {  bottom: -0.25em;}*/
/*sup {  top: -0.5em;}*/
/*img { border-style: none;}*/
/*svg:not(:root) { overflow: hidden;}*/
/*button, input,optgroup,select,textarea {  margin: 0;}*/
/*button, input {  overflow: visible;}*/
/*button, select {  text-transform: none;}*/
/*button, html [type="button"], [type="reset"], [type="submit"] {  -webkit-appearance: button; }*/
/*button::-moz-focus-inner, [type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner {  border-style: none;  padding: 0;}*/
/*button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring {  outline: 1px dotted ButtonText;}*/
/*legend { box-sizing: border-box; color: inherit;   display: table;  max-width: 100%; padding: 0; white-space: normal;}*/
/*progress {  display: inline-block;  vertical-align: baseline; }*/
/*textarea { overflow: auto;}*/
/*[type="checkbox"], [type="radio"] { box-sizing: border-box; padding: 0;}*/
/*[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}*/
/*[type="search"] {  -webkit-appearance: textfield;   outline-offset: -2px;}*/
/*[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration { -webkit-appearance: none;}*/
/*::-webkit-file-upload-button { -webkit-appearance: button; font: inherit; }*/
/*::-webkit-input-placeholder{color:inherit;opacity:0.54}*/
/*!*======= End extract =====*!*/
/*!*======= ClearFix =====*!*/
/*!* clearfix*!*/
/*.clearfix:before,*/
/*.clearfix:after,*/
/*.maincontainer:before,*/
/*.maincontainer:after,*/
/*.maincontainer-fluid:before,*/
/*.maincontainer-fluid:after,*/
/*.row:before,*/
/*.row:after{*/
  /*display: table;*/
  /*content: " ";*/
/*}*/
/*.clearfix:after,*/
/*.maincontainer:after,*/
/*.maincontainer-fluid:after,*/
/*.row:after*/
/*{*/
  /*clear: both;*/
/*}*/

/*!*======= End ClearFix =====*!*/
/*.maincontainer, .maincontainer-fluid {*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*margin-right: auto;*/
  /*margin-left: auto;*/
/*}*/

/*@media (min-width: 768px) {*/
  /*.maincontainer {*/
    /*width: 750px;*/
  /*}*/
/*}*/
/*@media (min-width: 992px) {*/
  /*.maincontainer {*/
    /*width: 970px;*/
  /*}*/
/*}*/
/*@media (min-width: 1200px) {*/
  /*.maincontainer {*/
    /*width: 1170px;*/
  /*}*/
/*}*/

/*.gridcol {*/
  /*position: relative;*/
  /*min-height: 1px;*/
  /*padding-right: 15px;*/
  /*padding-left: 15px;*/
  /*float: left;*/
/*}*/


/*!*======= Defult Classes =====*!*/

/*!*======= End Defult Classes =====*!*/
/*.grid-12 { */
/*width: 100%; */
/*} */
/*.grid-11 { */
/*width: 91.66666666666667%; */
/*} */
/*.grid-10 { */
/*width: 83.33333333333334%; */
/*} */
/*.grid-9 { */
/*width: 75%; */
/*} */
/*.grid-8 { */
/*width: 66.66666666666667%; */
/*} */
/*.grid-7 { */
/*width: 58.333333333333336%; */
/*} */
/*.grid-6 { */
/*width: 50%; */
/*} */
/*.grid-5 { */
/*width: 41.66666666666667%; */
/*} */
/*.grid-4 { */
/*width: 33.333333333333336%; */
/*} */
/*.grid-3 { */
/*width: 25%; */
/*} */
/*.grid-2 { */
/*width: 16.666666666666668%; */
/*} */
/*.grid-1 { */
/*width: 8.333333333333334%; */
/*} */
/*.grid-offset-12 { */
 /*margin-left: 100%; */
/*} */
/*.grid-offset-11 { */
 /*margin-left: 91.66666666666667%; */
/*} */
/*.grid-offset-10 { */
 /*margin-left: 83.33333333333334%; */
/*} */
/*.grid-offset-9 { */
 /*margin-left: 75%; */
/*} */
/*.grid-offset-8 { */
 /*margin-left: 66.66666666666667%; */
/*} */
/*.grid-offset-7 { */
 /*margin-left: 58.333333333333336%; */
/*} */
/*.grid-offset-6 { */
 /*margin-left: 50%; */
/*} */
/*.grid-offset-5 { */
 /*margin-left: 41.66666666666667%; */
/*} */
/*.grid-offset-4 { */
 /*margin-left: 33.333333333333336%; */
/*} */
/*.grid-offset-3 { */
 /*margin-left: 25%; */
/*} */
/*.grid-offset-2 { */
 /*margin-left: 16.666666666666668%; */
/*} */
/*.grid-offset-1 { */
 /*margin-left: 8.333333333333334%; */
/*} */
/*.grid-offset-0 { */
 /*margin-left: 0%; */
/*} */
/*@media (min-width: 480px) {*/
/*.grid-msm12 { */
/*width: 100%; */
/*} */
/*.grid-msm11 { */
/*width: 91.66666666666667%; */
/*} */
/*.grid-msm10 { */
/*width: 83.33333333333334%; */
/*} */
/*.grid-msm9 { */
/*width: 75%; */
/*} */
/*.grid-msm8 { */
/*width: 66.66666666666667%; */
/*} */
/*.grid-msm7 { */
/*width: 58.333333333333336%; */
/*} */
/*.grid-msm6 { */
/*width: 50%; */
/*} */
/*.grid-msm5 { */
/*width: 41.66666666666667%; */
/*} */
/*.grid-msm4 { */
/*width: 33.333333333333336%; */
/*} */
/*.grid-msm3 { */
/*width: 25%; */
/*} */
/*.grid-msm2 { */
/*width: 16.666666666666668%; */
/*} */
/*.grid-msm1 { */
/*width: 8.333333333333334%; */
/*} */
/*.grid-msm-offset-12 { */
 /*margin-left: 100%; */
/*} */
/*.grid-msm-offset-11 { */
 /*margin-left: 91.66666666666667%; */
/*} */
/*.grid-msm-offset-10 { */
 /*margin-left: 83.33333333333334%; */
/*} */
/*.grid-msm-offset-9 { */
 /*margin-left: 75%; */
/*} */
/*.grid-msm-offset-8 { */
 /*margin-left: 66.66666666666667%; */
/*} */
/*.grid-msm-offset-7 { */
 /*margin-left: 58.333333333333336%; */
/*} */
/*.grid-msm-offset-6 { */
 /*margin-left: 50%; */
/*} */
/*.grid-msm-offset-5 { */
 /*margin-left: 41.66666666666667%; */
/*} */
/*.grid-msm-offset-4 { */
 /*margin-left: 33.333333333333336%; */
/*} */
/*.grid-msm-offset-3 { */
 /*margin-left: 25%; */
/*} */
/*.grid-msm-offset-2 { */
 /*margin-left: 16.666666666666668%; */
/*} */
/*.grid-msm-offset-1 { */
 /*margin-left: 8.333333333333334%; */
/*} */
/*.grid-msm-offset-0 { */
 /*margin-left: 0%; */
/*} */
/*}*/
/*@media (min-width: 768px) {*/
/*.grid-sm12 { */
/*width: 100%; */
/*} */
/*.grid-sm11 { */
/*width: 91.66666666666667%; */
/*} */
/*.grid-sm10 { */
/*width: 83.33333333333334%; */
/*} */
/*.grid-sm9 { */
/*width: 75%; */
/*} */
/*.grid-sm8 { */
/*width: 66.66666666666667%; */
/*} */
/*.grid-sm7 { */
/*width: 58.333333333333336%; */
/*} */
/*.grid-sm6 { */
/*width: 50%; */
/*} */
/*.grid-sm5 { */
/*width: 41.66666666666667%; */
/*} */
/*.grid-sm4 { */
/*width: 33.333333333333336%; */
/*} */
/*.grid-sm3 { */
/*width: 25%; */
/*} */
/*.grid-sm2 { */
/*width: 16.666666666666668%; */
/*} */
/*.grid-sm1 { */
/*width: 8.333333333333334%; */
/*} */
/*.grid-sm-offset-12 { */
 /*margin-left: 100%; */
/*} */
/*.grid-sm-offset-11 { */
 /*margin-left: 91.66666666666667%; */
/*} */
/*.grid-sm-offset-10 { */
 /*margin-left: 83.33333333333334%; */
/*} */
/*.grid-sm-offset-9 { */
 /*margin-left: 75%; */
/*} */
/*.grid-sm-offset-8 { */
 /*margin-left: 66.66666666666667%; */
/*} */
/*.grid-sm-offset-7 { */
 /*margin-left: 58.333333333333336%; */
/*} */
/*.grid-sm-offset-6 { */
 /*margin-left: 50%; */
/*} */
/*.grid-sm-offset-5 { */
 /*margin-left: 41.66666666666667%; */
/*} */
/*.grid-sm-offset-4 { */
 /*margin-left: 33.333333333333336%; */
/*} */
/*.grid-sm-offset-3 { */
 /*margin-left: 25%; */
/*} */
/*.grid-sm-offset-2 { */
 /*margin-left: 16.666666666666668%; */
/*} */
/*.grid-sm-offset-1 { */
 /*margin-left: 8.333333333333334%; */
/*} */
/*.grid-sm-offset-0 { */
 /*margin-left: 0%; */
/*} */
/*}*/
/*@media (min-width: 992px) {*/
/*.grid-md12 { */
/*width: 100%; */
/*} */
/*.grid-md11 { */
/*width: 91.66666666666667%; */
/*} */
/*.grid-md10 { */
/*width: 83.33333333333334%; */
/*} */
/*.grid-md9 { */
/*width: 75%; */
/*} */
/*.grid-md8 { */
/*width: 66.66666666666667%; */
/*} */
/*.grid-md7 { */
/*width: 58.333333333333336%; */
/*} */
/*.grid-md6 { */
/*width: 50%; */
/*} */
/*.grid-md5 { */
/*width: 41.66666666666667%; */
/*} */
/*.grid-md4 { */
/*width: 33.333333333333336%; */
/*} */
/*.grid-md3 { */
/*width: 25%; */
/*} */
/*.grid-md2 { */
/*width: 16.666666666666668%; */
/*} */
/*.grid-md1 { */
/*width: 8.333333333333334%; */
/*} */
/*.grid-md-offset-12 { */
 /*margin-left: 100%; */
/*} */
/*.grid-md-offset-11 { */
 /*margin-left: 91.66666666666667%; */
/*} */
/*.grid-md-offset-10 { */
 /*margin-left: 83.33333333333334%; */
/*} */
/*.grid-md-offset-9 { */
 /*margin-left: 75%; */
/*} */
/*.grid-md-offset-8 { */
 /*margin-left: 66.66666666666667%; */
/*} */
/*.grid-md-offset-7 { */
 /*margin-left: 58.333333333333336%; */
/*} */
/*.grid-md-offset-6 { */
 /*margin-left: 50%; */
/*} */
/*.grid-md-offset-5 { */
 /*margin-left: 41.66666666666667%; */
/*} */
/*.grid-md-offset-4 { */
 /*margin-left: 33.333333333333336%; */
/*} */
/*.grid-md-offset-3 { */
 /*margin-left: 25%; */
/*} */
/*.grid-md-offset-2 { */
 /*margin-left: 16.666666666666668%; */
/*} */
/*.grid-md-offset-1 { */
 /*margin-left: 8.333333333333334%; */
/*} */
/*.grid-md-offset-0 { */
 /*margin-left: 0%; */
/*} */
/*}*/
/*@media (min-width: 1200px) {*/
/*.grid-lg12 { */
/*width: 100%; */
/*} */
/*.grid-lg11 { */
/*width: 91.66666666666667%; */
/*} */
/*.grid-lg10 { */
/*width: 83.33333333333334%; */
/*} */
/*.grid-lg9 { */
/*width: 75%; */
/*} */
/*.grid-lg8 { */
/*width: 66.66666666666667%; */
/*} */
/*.grid-lg7 { */
/*width: 58.333333333333336%; */
/*} */
/*.grid-lg6 { */
/*width: 50%; */
/*} */
/*.grid-lg5 { */
/*width: 41.66666666666667%; */
/*} */
/*.grid-lg4 { */
/*width: 33.333333333333336%; */
/*} */
/*.grid-lg3 { */
/*width: 25%; */
/*} */
/*.grid-lg2 { */
/*width: 16.666666666666668%; */
/*} */
/*.grid-lg1 { */
/*width: 8.333333333333334%; */
/*} */
/*.grid-lg-offset-12 { */
 /*margin-left: 100%; */
/*} */
/*.grid-lg-offset-11 { */
 /*margin-left: 91.66666666666667%; */
/*} */
/*.grid-lg-offset-10 { */
 /*margin-left: 83.33333333333334%; */
/*} */
/*.grid-lg-offset-9 { */
 /*margin-left: 75%; */
/*} */
/*.grid-lg-offset-8 { */
 /*margin-left: 66.66666666666667%; */
/*} */
/*.grid-lg-offset-7 { */
 /*margin-left: 58.333333333333336%; */
/*} */
/*.grid-lg-offset-6 { */
 /*margin-left: 50%; */
/*} */
/*.grid-lg-offset-5 { */
 /*margin-left: 41.66666666666667%; */
/*} */
/*.grid-lg-offset-4 { */
 /*margin-left: 33.333333333333336%; */
/*} */
/*.grid-lg-offset-3 { */
 /*margin-left: 25%; */
/*} */
/*.grid-lg-offset-2 { */
 /*margin-left: 16.666666666666668%; */
/*} */
/*.grid-lg-offset-1 { */
 /*margin-left: 8.333333333333334%; */
/*} */
/*.grid-lg-offset-0 { */
 /*margin-left: 0%; */
/*} */
/*}*/

        /*.row {*/
        /*margin-right: -0px;*/
        /*margin-left: -0px;*/
        /*}*/
        /*.gridcol {*/
        /*padding-right: 0px;*/
        /*padding-left: 0px;*/
        /*}*/
        /*.maincontainer, .maincontainer-fluid {*/
        /*padding-right: 0px;*/
        /*padding-left: 0px;*/
        /*}*/
        /*.gridruls {*/
        /*padding:0 0px;*/
        /*}*/
    /*.classname{line-height:13px; font-size:15px; }.abo-abo{line-height:13px; font-size:15px; }.title-default{font-size:22px; color:#050505; display:block; }.paragraph-default{color:#0f0f0f; font-size:14px; text-indent:18px; text-align:left; display:block; }.button-default{background:rgba(255,255,255,1); display:inline-block; border-radius:4px; border:solid 1px #cccccc; padding-top:8px; padding-bottom:8px; padding-right:26px; padding-left:26px; margin-bottom:10px; cursor:pointer; }.button-default:hover{border:solid 1px #bababa; opacity:0.8; }.button-default:focus{opacity:0.8; border:solid 1px #bababa; }.link-default{display:inline-block; overflow:hidden; font-size:14px; color:#3153ab; text-decoration:underline; line-height:19px; text-align:center; cursor:pointer; }.link-default:hover{color:#4268c9; }.link-default:focus{color:#425994; }.form-field{background:rgba(255,255,255,1); border-radius:3px; border:solid 1px #c4c4c4; width:100%; padding-top:7px; padding-bottom:7px; padding-right:10px; padding-left:10px; box-sizing:inherit; }.form-field:hover{border:solid 1px #a6a6a6; }.form-field:focus{border:solid 1px #bdbdbd; }.menu-bar-default{width:100%; overflow:hidden; background:rgba(0,0,0,1); }.menu-bar-item{padding-top:8px; padding-bottom:8px; padding-right:16px; padding-left:16px; border-radius:3px; border:solid 0px #000000; display:block; float:left; background:rgba(0,0,0,0); }.menu-bar-item:hover{background:rgba(255,255,255,1); }.menu-bar-item:focus{background:rgba(255,255,255,1); }.image-inline{float:left; }.copyright{font-size:14px; color:#ffffff; display:inline-block; }.form-label{font-size:14px; display:inline-block; }.text-wide{letter-spacing:4px; font-size:14px; }.text-shadow{text-shadow:1px 1px 0px #454545; }.text-btn{color:#292323; text-align:center; font-size:12px; text-decoration:blink; text-indent:0px; letter-spacing:1px; line-height:16px; }.alert-default{box-shadow: 0px 0px 1px 0px #bdbdbd; padding-top:15px; padding-right:15px; padding-bottom:15px; padding-left:15px; margin-bottom:20px; border-radius:4px; background:rgba(255,255,255,1); display:block; }.panel-default{background:rgba(255,255,255,1); margin-bottom:20px; border-radius:03px 03px 03px 03px; border:solid 1px #ffffff; box-shadow: 0px 0px 0px 1px #d6d6d6; padding-top:20px; padding-right:20px; padding-bottom:20px; padding-left:20px; }.card-default{position:relative; background:rgba(255,255,255,1); margin-top:5px; margin-bottom:5px; margin-right:0px; margin-left:0px; border-radius:2px; box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.17),  0px 1px 5px 0px rgba(0,0,0,0.15); }.card-default:hover{box-shadow: 0px 8px 17px 0px rgba(0,0,0,0.2),  0px 6px 20px 0px rgba(0,0,0,0.02); } .td-default{text-align:center; display:table-cell; }.image-circle{border-radius:50%; }.image-rounded{border-radius:6px; }.image-responsive{display:block; max-width:100%; height:auto; }.image-thumbnail{display:inline-block; max-width:100%; padding-top:3px; padding-right:3px; padding-bottom:3px; padding-left:3px; background:rgba(255,255,255,1); border-radius:6px; border:solid 1px #c7c7c7; height:auto; }.image-circle-thumbnail{background:rgba(255,255,255,1); display:inline-block; max-width:100%; padding-top:6px; padding-right:6px; padding-bottom:6px; padding-left:6px; border-radius:50%; border:solid 1px #d1d1d1; height:auto; }.list-nostyle{list-style-type:none; }.table-striped{    margin: 1em 0;*/
    /*width: 100%;*/
    /*overflow: hidden;*/
    /*background: #FFF;*/
    /*color: #024457;*/
    /*border-radius: 10px;*/
    /*border: 1px solid #167F92; }.table-striped tr{     border: 1px solid #D9E4E6; }.table-striped tr:nth-child(odd){background-color: #EAF3F3; }.table-striped th:first-child{display: table-cell;*/
    /*text-align: center; }.table-striped th{display: table-cell;*/
/*text-align: center; */
/*border-right: 1px solid #D9E4E6;*/
/*margin: .5em 1em;*/
/*padding:1em;*/
 /*word-wrap: break-word;*/
/*max-width: 7em;*/
/*border: 1px solid #D9E4E6;*/
/*background-color: #167F92;*/
/*color:#fff; }.table-striped td{display: table-cell;*/
/*text-align: center; */
/*border-right: 1px solid #D9E4E6;*/
/*margin: .5em 1em;*/
/*padding:1em;*/
 /*word-wrap: break-word;*/
/*max-width: 7em;*/
/*border: 1px solid #D9E4E6; }.table-striped td:first-child{    display: table-cell;*/
    /*text-align: center;*/
    /*border-right: 1px solid #D9E4E6; }.table-dark{color:#ffffff; overflow:hidden;  background: #34495E; border-radius:4px; margin-top:1em; margin-right:0em; margin-bottom:1em; margin-left:0em; width:100%; }.table-dark tr{  border-radius:4px; border-bottom:solid 1px #b0b0b0; }.table-dark th{color: #dd5; padding-top:1em; padding-right:1em; padding-bottom:1em; padding-left:1em; }.table-dark td{padding-top:1em; padding-right:1em; padding-bottom:1em; padding-left:1em; }.table-dark tr:hover{color: #dd5; }.breadcrumbs-default{background:rgba(255,255,255,1); padding-top:8px; padding-bottom:8px; padding-right:15px; padding-left:15px; border-radius:3px; }.text-xs{font-size:10px; }.text-sm{font-size:12px; }.text-md{font-size:14px; }.text-lg{font-size:20px; }.text-xl{font-size:28px; }.letter-spacing-xs{letter-spacing:1px; }.letter-spacing-sm{letter-spacing:2px; }.letter-spacing-md{letter-spacing:3px; }.letter-spacing-lg{letter-spacing:4px; }.letter-spacing-xl{letter-spacing:7px; }.t-color-black{color:rgba(4,4,4,1); }.t-color-black-hover:hover{color:rgba(4,4,4,1); }.t-color-black-focus:focus{color:rgba(4,4,4,1); }.all-border-xs{border-width:1px; }.rt-border-xs{border-right-width:1px; }.lt-border-xs{border-left-width:1px; }.top-border-xs{border-top-width:1px; }.btm-border-xs{border-bottom-width:1px; }.all-border-sm{border-width:2px; }.rt-border-sm{border-right-width:2px; }.lt-border-sm{border-left-width:2px; }.top-border-sm{border-top-width:2px; }.btm-border-sm{border-bottom-width:2px; }.all-border-md{border-width:3px; }.rt-border-md{border-right-width:3px; }.lt-border-md{border-left-width:3px; }.top-border-md{border-top-width:3px; }.btm-border-md{border-bottom-width:3px; }.all-border-lg{border-width:10px; }.rt-border-lg{border-right-width:10px; }.lt-border-lg{border-left-width:10px; }.top-border-lg{border-top-width:10px; }.btm-border-lg{border-bottom-width:10px; }.all-border-xl{border-width:20px; }.rt-border-xl{border-right-width:20px; }.lt-border-xl{border-left-width:20px; }.top-border-xl{border-top-width:20px; }.btm-border-xl{border-bottom-width:20px; }.word-spacing-xs{word-spacing:1px; }.word-spacing-sm{word-spacing:2px; }.word-spacing-md{word-spacing:3px; }.word-spacing-lg{word-spacing:4px; }.word-spacing-xl{word-spacing:7px; }.all-radius-xs{border-radius:2px; }.bl-radius-xs{border-bottom-left-radius:2px; }.br-radius-xs{border-bottom-right-radius:2px; }.tl-radius-xs{border-top-left-radius:2px; }.tr-radius-xs{border-top-right-radius:2px; }.all-radius-sm{border-radius:4px; }.bl-radius-sm{border-bottom-left-radius:4px; }.br-radius-sm{border-bottom-right-radius:4px; }.tl-radius-sm{border-top-left-radius:4px; }.tr-radius-sm{border-top-right-radius:4px; }.all-radius-md{border-radius:6px; }.bl-radius-md{border-bottom-left-radius:6px; }.br-radius-md{border-bottom-right-radius:6px; }.tl-radius-md{border-top-left-radius:6px; }.tr-radius-md{border-top-right-radius:6px; }.all-radius-lg{border-radius:15px; }.bl-radius-lg{border-bottom-left-radius:15px; }.br-radius-lg{border-bottom-right-radius:15px; }.tl-radius-lg{border-top-left-radius:15px; }.tr-radius-lg{border-top-right-radius:15px; }.all-radius-lg{border-radius:25px; }.bl-radius-lg{border-bottom-left-radius:25px; }.br-radius-lg{border-bottom-right-radius:25px; }.tl-radius-lg{border-top-left-radius:25px; }.tr-radius-lg{border-top-right-radius:25px; }.all-margin-xs{margin:5px; }.rt-margin-xs{margin-right:5px; }.lt-margin-xs{margin-left:5px; }.top-margin-xs{margin-top:5px; }.btm-margin-xs{margin-bottom:5px; }.all-margin-sm{margin:10px; }.rt-margin-sm{margin-right:10px; }.lt-margin-sm{margin-left:10px; }.top-margin-sm{margin-top:10px; }.btm-margin-sm{margin-bottom:10px; }.all-margin-md{margin:15px; }.rt-margin-md{margin-right:15px; }.lt-margin-md{margin-left:15px; }.top-margin-md{margin-top:15px; }.btm-margin-md{margin-bottom:15px; }.all-margin-lg{margin:30px; }.rt-margin-lg{margin-right:30px; }.lt-margin-lg{margin-left:30px; }.top-margin-lg{margin-top:30px; }.btm-margin-lg{margin-bottom:30px; }.all-margin-xl{margin:40px; }.rt-margin-xl{margin-right:40px; }.lt-margin-xl{margin-left:40px; }.top-margin-xl{margin-top:40px; }.btm-margin-xl{margin-bottom:40px; }.all-padding-xs{padding:5px; }.rt-padding-xs{padding-right:5px; }.lt-padding-xs{padding-left:5px; }.top-padding-xs{padding-top:5px; }.btm-padding-xs{padding-bottom:5px; }.all-padding-sm{padding:10px; }.rt-padding-sm{padding-right:10px; }.lt-padding-sm{padding-left:10px; }.top-padding-sm{padding-top:10px; }.btm-padding-sm{padding-bottom:10px; }.all-padding-md{padding:15px; }.rt-padding-md{padding-right:15px; }.lt-padding-md{padding-left:15px; }.top-padding-md{padding-top:15px; }.btm-padding-md{padding-bottom:15px; }.all-padding-lg{padding:30px; }.rt-padding-lg{padding-right:30px; }.lt-padding-lg{padding-left:30px; }.top-padding-lg{padding-top:30px; }.btm-padding-lg{padding-bottom:30px; }.all-padding-xl{padding:40px; }.rt-padding-xl{padding-right:40px; }.lt-padding-xl{padding-left:40px; }.top-padding-xl{padding-top:40px; }.btm-padding-xl{padding-bottom:40px; }.text-shadow-basic{text-shadow:1px 0px 1px #000000; }.bg-color-black{background-color:rgba(163,84,84,1) !important; }.bg-color-black-hover:hover{background-color:rgba(163,84,84,1) !important; }.bg-color-black-focus:focus{background-color:rgba(163,84,84,1) !important; }.bg-color-silver{background-color:rgba(192,192,192,1); }.bg-color-silver-hover:hover{background-color:rgba(192,192,192,1); }.bg-color-silver-focus:focus{background-color:rgba(192,192,192,1); }.bg-color-grey{background-color:rgba(128,128,128,1); }.bg-color-grey-hover:hover{background-color:rgba(128,128,128,1); }.bg-color-grey-focus:focus{background-color:rgba(128,128,128,1); }.bg-color-white{background-color:rgba(255,255,255,1); }.bg-color-white-hover:hover{background-color:rgba(255,255,255,1); }.bg-color-white-focus:focus{background-color:rgba(255,255,255,1); }.bg-color-maroon{background-color:rgba(128,0,0,1); }.bg-color-maroon-hover:hover{background-color:rgba(128,0,0,1); }.bg-color-maroon-focus:focus{background-color:rgba(128,0,0,1); }.bg-color-red{background-color:rgba(255,0,0,1); }.bg-color-red-hover:hover{background-color:rgba(255,0,0,1); }.bg-color-red-focus:focus{background-color:rgba(255,0,0,1); }.bg-color-purple{background-color:rgba(128,0,128,1); }.bg-color-purple-hover:hover{background-color:rgba(128,0,128,1); }.bg-color-purple-focus:focus{background-color:rgba(128,0,128,1); }.bg-color-fuchsia{background-color:rgba(255,0,128,1); }.bg-color-fuchsia-hover:hover{background-color:rgba(255,0,128,1); }.bg-color-fuchsia-focus:focus{background-color:rgba(255,0,128,1); }.bg-color-green{background-color:rgba(0,128,0,1); }.bg-color-green-hover:hover{background-color:rgba(0,128,0,1); }.bg-color-green-focus:focus{background-color:rgba(0,128,0,1); }.bg-color-lime{background-color:rgba(0,255,0,1); }.bg-color-lime-hover:hover{background-color:rgba(0,255,0,1); }.bg-color-lime-focus:focus{background-color:rgba(0,255,0,1); }.bg-color-olive{background-color:rgba(128,128,0,1); }.bg-color-olive-hover:hover{background-color:rgba(128,128,0,1); }.bg-color-olive-focus:focus{background-color:rgba(128,128,0,1); }.bg-color-yellow{background-color:rgba(255,255,0,1); }.bg-color-yellow-hover:hover{background-color:rgba(255,255,0,1); }.bg-color-yellow-focus:focus{background-color:rgba(255,255,0,1); }.bg-color-navy{background-color:rgba(0,0,128,1); }.bg-color-navy-hover:hover{background-color:rgba(0,0,128,1); }.bg-color-navy-focus:focus{background-color:rgba(0,0,128,1); }.bg-color-blue{background-color:rgba(0,0,255,0); }.bg-color-blue-hover:hover{background-color:rgba(0,0,255,0); }.bg-color-blue-focus:focus{background-color:rgba(0,0,255,0); }.bg-color-teal{background-color:rgba(0,128,128,1); }.bg-color-teal-hover:hover{background-color:rgba(0,128,128,1); }.bg-color-teal-focus:focus{background-color:rgba(0,128,128,1); }.bg-color-aqua{background-color:rgba(0,255,255,1); }.bg-color-aqua-hover:hover{background-color:rgba(0,255,255,1); }.bg-color-aqua-focus:focus{background-color:rgba(0,255,255,1); }.t-color-silver{color:rgba(192,192,192,1); }.t-color-silver-hover:hover{color:rgba(192,192,192,1); }.t-color-silver-focus:focus{color:rgba(192,192,192,1); }.t-color-grey{color:rgba(128,128,128,1); }.t-color-grey-hover:hover{color:rgba(128,128,128,1); }.t-color-grey-focus:focus{color:rgba(128,128,128,1); }.t-color-white{color:rgba(255,255,255,1); }.t-color-white-hover:hover{color:rgba(255,255,255,1); }.t-color-white-focus:focus{color:rgba(255,255,255,1); }.t-color-maroon{color:rgba(128,0,0,1); }.t-color-maroon-hover:hover{color:rgba(128,0,0,1); }.t-color-maroon-focus:focus{color:rgba(128,0,0,1); }.t-color-red{color:rgba(255,0,0,1); }.t-color-red-hover:hover{color:rgba(255,0,0,1); }.t-color-red-focus:focus{color:rgba(255,0,0,1); }.t-color-purple{color:rgba(128,0,128,1); }.t-color-purple-hover:hover{color:rgba(128,0,128,1); }.t-color-purple-focus:focus{color:rgba(128,0,128,1); }.t-color-fuchsia{color:rgba(255,0,128,1); }.t-color-fuchsia-hover:hover{color:rgba(255,0,128,1); }.t-color-fuchsia-focus:focus{color:rgba(255,0,128,1); }.t-color-green{color:rgba(0,128,0,1); }.t-color-green-hover:hover{color:rgba(0,128,0,1); }.t-color-green-focus:focus{color:rgba(0,128,0,1); }.t-color-lime{color:rgba(0,255,0,1); }.t-color-lime-hover:hover{color:rgba(0,255,0,1); }.t-color-lime-focus:focus{color:rgba(0,255,0,1); }.t-color-olive{color:rgba(128,128,0,1); }.t-color-olive-hover:hover{color:rgba(128,128,0,1); }.t-color-olive-focus:focus{color:rgba(128,128,0,1); }.t-color-yellow{color:rgba(255,255,0,1); }.t-color-yellow-hover:hover{color:rgba(255,255,0,1); }.t-color-yellow-focus:focus{color:rgba(255,255,0,1); }.t-color-navy{color:rgba(0,0,128,1); }.t-color-navy-hover:hover{color:rgba(0,0,128,1); }.t-color-navy-focus:focus{color:rgba(0,0,128,1); }.t-color-blue{color:rgba(0,0,255,0); }.t-color-blue-hover:hover{color:rgba(0,0,255,0); }.t-color-blue-focus:focus{color:rgba(0,0,255,0); }.t-color-teal{color:rgba(0,128,128,1); }.t-color-teal-hover:hover{color:rgba(0,128,128,1); }.t-color-teal-focus:focus{color:rgba(0,128,128,1); }.t-color-aqua{color:rgba(0,255,255,1); }.t-color-aqua-hover:hover{color:rgba(0,255,255,1); }.t-color-aqua-focus:focus{color:rgba(0,255,255,1); }.bd-color-black{border-color:rgba(0,0,0,1); }.bd-color-black-hover:hover{border-color:rgba(0,0,0,1); }.bd-color-black-focus:focus{border-color:rgba(0,0,0,1); }.bd-color-silver{border-color:rgba(192,192,192,1); }.bd-color-silver-hover:hover{border-color:rgba(192,192,192,1); }.bd-color-silver-focus:focus{border-color:rgba(192,192,192,1); }.bd-color-white{border-color:rgba(255,255,255,1); }.bd-color-white-hover:hover{border-color:rgba(255,255,255,1); }.bd-color-white-focus:focus{border-color:rgba(255,255,255,1); }.bd-color-maroon{border-color:rgba(128,0,0,1); }.bd-color-maroon-hover:hover{border-color:rgba(128,0,0,1); }.bd-color-maroon-focus:focus{border-color:rgba(128,0,0,1); }.bd-color-red{border-color:rgba(255,0,0,1); }.bd-color-red-hover:hover{border-color:rgba(255,0,0,1); }.bd-color-red-focus:focus{border-color:rgba(255,0,0,1); }.bd-color-purple{border-color:rgba(128,0,128,1); }.bd-color-purple-hover:hover{border-color:rgba(128,0,128,1); }.bd-color-purple-focus:focus{border-color:rgba(128,0,128,1); }.bd-color-fuchsia{border-color:rgba(255,0,128,1); }.bd-color-fuchsia-hover:hover{border-color:rgba(255,0,128,1); }.bd-color-fuchsia-focus:focus{border-color:rgba(255,0,128,1); }.bd-color-green{border-color:rgba(0,128,0,1); }.bd-color-green-hover:hover{border-color:rgba(0,128,0,1); }.bd-color-green-focus:focus{border-color:rgba(0,128,0,1); }.bd-color-lime{border-color:rgba(0,255,0,1); }.bd-color-lime-hover:hover{border-color:rgba(0,255,0,1); }.bd-color-lime-focus:focus{border-color:rgba(0,255,0,1); }.bd-color-olive{border-color:rgba(128,128,0,1); }.bd-color-olive-hover:hover{border-color:rgba(128,128,0,1); }.bd-color-olive-focus:focus{border-color:rgba(128,128,0,1); }.bd-color-yellow{border-color:rgba(255,255,0,1); }.bd-color-yellow-hover:hover{border-color:rgba(255,255,0,1); }.bd-color-yellow-focus:focus{border-color:rgba(255,255,0,1); }.bd-color-navy{border-color:rgba(0,0,128,1); }.bd-color-navy-hover:hover{border-color:rgba(0,0,128,1); }.bd-color-navy-focus:focus{border-color:rgba(0,0,128,1); }.bd-color-blue{border-color:rgba(0,0,255,1); }.bd-color-blue-hover:hover{border-color:rgba(0,0,255,1); }.bd-color-blue-focus:focus{border-color:rgba(0,0,255,1); }.bd-color-teal{border-color:rgba(0,128,128,1); }.bd-color-teal-hover:hover{border-color:rgba(0,128,128,1); }.bd-color-teal-focus:focus{border-color:rgba(0,128,128,1); }.bd-color-aqua{border-color:rgba(0,255,255,1); }.bd-color-aqua-hover:hover{border-color:rgba(0,255,255,1); }.bd-color-aqua-focus:focus{border-color:rgba(0,255,255,1); }.text-height-xs{line-height:14px; }.text-height-sm{line-height:16px; }.text-height-md{line-height:20px; }.text-height-lg{line-height:22px; }.text-height-xl{line-height:28px; }.text-indent-xs{text-indent:10px; }.text-indent-sm{text-indent:16px; }.text-indent-md{text-indent:20px; }.text-indent-lg{text-indent:28px; }.text-indent-xl{text-indent:36px; }..text-shadow-hard{text-shadow:3px 3px 0px rgba(0,0,0,1), 0px 1px 1px #ffffff, 1px 1px 1px #ede1e1; }..text-shadow-double{text-shadow:2px 2px 0px #ffffff, 4px 4px 0px rgba(0,0,0,1); }..text-shadow-close{text-shadow:0px 2px 3px rgba(0,0,0,1), 0px 4px 7px rgba(0,0,0,1); }..box-shadow-basic{box-shadow: 1px 1px 1px 1px #7d1a1a; }body{font-size:16px; line-height:24px; color:#262626; }h1{font-size:36px; margin-top:20px; margin-bottom:10px; line-height:24px; }h2{font-size:30px; margin-top:20px; margin-bottom:10px; line-height:24px; }h3{font-size:24px; margin-top:20px; margin-bottom:10px; line-height:24px; }h4{font-size:18px; margin-top:10px; margin-bottom:10px; line-height:24px; }h5{font-size:14px; margin-top:10px; margin-bottom:10px; line-height:24px; }h6{font-size:12px; margin-top:10px; margin-bottom:10px; line-height:24px; }p{margin-bottom:10px; }a{text-decoration:blink; color:#3375c2; }button{cursor:pointer; }ul{margin-top:0px; margin-bottom:10px; }ol{margin-top:0px; margin-bottom:10px; }label{display:inline-block; max-width:100%; margin-bottom:5px; }hr{margin-top:20px; margin-bottom:20px; }*/