.rating-cl-black{
    color: black !important;
}
.rating-cl-grey{
    color: grey !important;
}
.rating-cl-skyblue{
    color: #87CEEB !important;
}
.rating-cl-darksalmon{
    color: #E9967A !important;
}
.rating-cl-deeppink{
    color: #FF1493 !important;
}
.rating-cl-fuchsia{
    color: #FF00FF !important;
}
.rating-cl-brown{
    color: #A52A2A !important;
}
.rating-cl-red{
    color: #FF0000 !important;
}
.rating-cl-cyan{
    color: #00FFFF !important;
}
.rating-cl-lightcoral{
    color: #F08080 !important;
}
.rating-cl-darkorange{
    color: #FF8C00 !important;
}
.rating-cl-forestgreen{
    color: #228B22 !important;
}
.rating-cl-yellow{
    color: #FFFF00 !important;
}
.rating-cl-crimson{
    color: #DC143C !important;
}
.rating-cl-deepskyblue{
    color: #00BFFF !important;
}
.rating-cl-darkblue{
    color: #00008B !important;
}
.rating-cl-peru{
    color: #CD853F !important;
}
.rating-cl-orange{
    color: #FFA500 !important;
}