.bty-header .navbar{
    border-radius: 0;
}
.bty-header .navbar-brand{
    display: inline-flex;
}
.bty-header .navbar-brand img{
    width: 30px;
    height: 30px;
}
.bty-header .navbar-brand span{
    padding-left: 10px;
}

/*Login Reg*/
.bty-log-reg{
    display: none;
}
.bty-log-reg .login-wrap{
    width:100%;
    margin:auto;
    max-width:525px;
    min-height:670px;
    position:relative;
    background-color: #444444;
    box-shadow:0 12px 15px 0 rgba(0,0,0,.24),0 17px 50px 0 rgba(0,0,0,.19);

}
.bty-log-reg .login-html{
    width:100%;
    height:100%;
    position:absolute;
    padding:90px 70px 50px 70px;
    background:rgba(40,57,101,.9);
}
.bty-log-reg .login-html .sign-in-htm,
.bty-log-reg .login-html .sign-up-htm{
    top:0;
    left:0;
    right:0;
    bottom:0;
    position:absolute;
    transform:rotateY(180deg);
    backface-visibility:hidden;
    transition:all .4s linear;
}
.bty-log-reg .login-html .sign-in,
.bty-log-reg .login-html .sign-up,
.bty-log-reg .login-form .group .check{
    display:none;
}
.bty-log-reg .login-html .tab,
.bty-log-reg .login-form .group .label,
.bty-log-reg .login-form .group .button{
    text-transform:uppercase;
}
.bty-log-reg .login-html .tab{
    font-size:22px;
    margin-right:15px;
    padding-bottom:5px;
    margin:0 15px 10px 0;
    display:inline-block;
    border-bottom:2px solid transparent;
}
.bty-log-reg .login-html .sign-in:checked + .tab,
.bty-log-reg .login-html .sign-up:checked + .tab{
    color:#fff;
    border-color:#1161ee;
}
.bty-log-reg .login-form{
    min-height:345px;
    position:relative;
    perspective:1000px;
    transform-style:preserve-3d;
}
.bty-log-reg .login-form .group{
    margin-bottom:15px;
}
.bty-log-reg .login-form .group .label,
.bty-log-reg .login-form .group .input,
.bty-log-reg .login-form .group .button{
    width:100%;
    color:#fff;
    display:block;
}
.bty-log-reg .login-form .group .input,
.bty-log-reg .login-form .group .button{
    border:none;
    padding:15px 20px;
    border-radius:25px;
    background:rgba(255,255,255,.1);
}
.bty-log-reg .login-form .group input[data-type="password"]{
    text-security:circle;
    -webkit-text-security:circle;
}
.bty-log-reg .login-form .group .label{
    color:#aaa;
    font-size:12px;
}
.login-form .group .button{
    background:#1161ee;
}
.bty-log-reg .login-form .group label .icon{
    width:15px;
    height:15px;
    border-radius:2px;
    position:relative;
    display:inline-block;
    background:rgba(255,255,255,.1);
}
.bty-log-reg .login-form .group label .icon:before,
.bty-log-reg .login-form .group label .icon:after{
    content:'';
    width:10px;
    height:2px;
    background:#fff;
    position:absolute;
    transition:all .2s ease-in-out 0s;
}
.bty-log-reg .login-form .group label .icon:before{
    left:3px;
    width:5px;
    bottom:6px;
    transform:scale(0) rotate(0);
}
.bty-log-reg .login-form .group label .icon:after{
    top:6px;
    right:0;
    transform:scale(0) rotate(0);
}
.bty-log-reg .login-form .group .check:checked + label{
    color:#fff;
}
.bty-log-reg .login-form .group .check:checked + label .icon{
    background:#1161ee;
}
.bty-log-reg .login-form .group .check:checked + label .icon:before{
    transform:scale(1) rotate(45deg);
}
.bty-log-reg .login-form .group .check:checked + label .icon:after{
    transform:scale(1) rotate(-45deg);
}
.bty-log-reg .login-html .sign-in:checked + .tab + .sign-up + .tab + .login-form .sign-in-htm{
    transform:rotate(0);
}
.bty-log-reg .login-html .sign-up:checked + .tab + .login-form .sign-up-htm{
    transform:rotate(0);
}
.bty-log-reg .hr{
    height:2px;
    margin:60px 0 50px 0;
    background:rgba(255,255,255,.2);
}
.bty-log-reg .foot-lnk{
    text-align:center;
}
.header-user li img{
    width: 80px;
    height: 50px;
    object-fit: cover;
}
.header-user ul{
    background-color: white;
    position: absolute;
    right: 0;
    z-index: 6;
    list-style: none;
    box-shadow: 0px 2px 6px 1px #ccc;
    padding: 0;
    display: none;
}
.header-user ul li a{
    color: #0678be;
    margin: 0;
    padding: 0 1em;
    width: 9em;
    display: block;
    line-height: 50px;
    text-decoration: none;
    border-bottom: 1px solid #ccc;
    color: #000;
}
.header-user .user-link{
    padding: 0;
}
.header-user ul li a span{
    padding-left: 10px;
}
.header-user .user-link:hover +ul{
    display: block;
}
.header-user ul:hover{
    display: block;
}