@import url(https://fonts.googleapis.com/css?family=Bree+Serif);
/*******************
SELECTION STYLING
*******************/
::selection {
  color: #fff;
  background: #f676b2;
  /* Safari */ }

::-moz-selection {
  color: #fff;
  background: #f676b2;
  /* Firefox */ }

.login-form {
  width: 80%;
  margin: 0 auto;
  position: relative;
  background: #f3f3f3;
  border: 1px solid #fff;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5); }

.login-form .header {
  padding: 10px 30px 30px 30px;
  text-align: center; }

.login-form .header h1 {
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 28px;
  line-height: 34px;
  color: #414848;
  text-shadow: 1px 1px 0 white;
  margin-bottom: 10px; }

.login-form .header span {
  font-size: 11px;
  line-height: 16px;
  color: #678889;
  text-shadow: 1px 1px 0 white; }

.login-form .content {
  padding: 0 30px 25px 30px; }

.login-form .footer {
  padding: 15px;
  overflow: auto;
  background: #d4dedf;
  border-top: 1px solid #fff;
  box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15); }

/* Login button */
.login-form .footer .button {
  float: right;
  padding: 11px 25px;
  font-family: 'Bree Serif', serif;
  font-weight: 300;
  font-size: 18px;
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
  background: #56c2e1;
  border: 1px solid #46b3d3;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.75); }

.login-form .footer .button:hover {
  background: #3f9db8;
  border: 1px solid rgba(255, 255, 255, 0.75);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5); }

.login-form .footer .button:focus {
  position: relative;
  bottom: -1px;
  background: #56c2e1;
  box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  -moz-box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: inset 0 1px 6px rgba(255, 255, 255, 0.75); }

.login-form .footer .register:hover {
  color: #3f9db8; }

.login-form .footer .register:focus {
  position: relative;
  bottom: -1px; }

/* Dark Form */
.login-form.dark {
  background: #3c3c3c;
  border: 1px solid #6d6d6d; }

.login-form.dark .header h1 {
  color: #fff;
  text-shadow: 1px 1px 0 black; }

.login-form.dark .header span {
  color: #b9b9b9;
  text-shadow: 1px 1px 0 black; }

.login-form.dark .footer {
  background: #2d2d2d;
  border-top: 1px solid #5f5f5f; }

.login-form.colorful {
  background: #b72804;
  border: 1px solid #ccc; }

.login-form.colorful .header h1 {
  color: #ffffff;
  text-shadow: 1px 1px 0 #3c3c3c; }

.login-form.colorful .header span {
  color: #e0e0e0;
  text-shadow: 1px 1px 0 #5a1503; }

.login-form.colorful .footer {
  background: #771a02;
  border-top: 1px solid #e83709; }

.login-form .footer .button.yellow {
  color: #5f5f5f;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
  background: #bdc300;
  border: 1px solid #898e03; }

.login-form .footer .button.red {
  color: #fff;
  text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
  background: #c30017;
  border: 1px solid #8e0516; }

.login-form .footer .button.square {
  border-radius: 0 !important; }

/*# sourceMappingURL=main.css.map */
/* Form Styles */
.inline .form-group {
  display: table;
  width: 100%; }
.inline input,
.inline textarea,
.inline select {
  width: calc(100% - 120px); }
.inline i {
  position: absolute; }
.inline label {
  float: left;
  width: 120px; }

.rich .form-group {
  box-shadow: 0 0 1px 1px #ccc;
  padding: 10px;
  background: #f3f3f3; }
.rich input,
.rich textarea,
.rich select {
  border-radius: 0; }
.rich label {
  float: left;
  width: 120px; }

/*# sourceMappingURL=main.css.map */
