.left-bar, .main-cont, .right-bar{
    border: 1px solid #000;
}
.left-bar ,.right-bar{
    height: 100%;
}

.main-cont {
    min-height: 680px;
}
.div-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.row-no-gutter>[class*="col-"] {
    padding-right: 0;
    padding-left: 0;
}