
/*Vertical Menu 4*/
.sidebar-menu-white-sub .bty-menu4 {
    list-style: none;
    padding: 0;
    margin: 0;
    background: #FFF;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    width: 100%;
}

.sidebar-menu-white-sub .bty-menu4 li {
    position: relative;
}

.sidebar-menu-white-sub .bty-menu4 li a {
    display: block;
    text-decoration: none;
    padding: 12px 20px;
    color: #777;
    text-align: left;
    position: relative;
    border-bottom: 1px solid #EEE;
}

.sidebar-menu-white-sub .bty-menu4 li a i {
    /*display: block;
    font-size: 30px;
    margin-bottom: 10px;*/
    float: left;
    font-size: 20px;
    margin: 0 10px 0 0;
}

.sidebar-menu-white-sub .bty-menu4 a p {
    float: left;
    margin: 0;
}

.sidebar-menu-white-sub .bty-menu4 li a strong {
    display: block;
    text-transform: uppercase;
}

.sidebar-menu-white-sub .bty-menu4 a small {
    display: block;
    font-size: 10px;
}

.sidebar-menu-white-sub .bty-menu4 li a i, .sidebar-menu-white-sub .bty-menu4 li a strong, .sidebar-menu-white-sub .bty-menu4 li a small {
    position: relative;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
}

.sidebar-menu-white-sub .bty-menu4 li:hover > a i {
    opacity: 1;
    -webkit-animation: moveFromTop 300ms ease-in-out;
    -moz-animation: moveFromTop 300ms ease-in-out;
    -ms-animation: moveFromTop 300ms ease-in-out;
    -o-animation: moveFromTop 300ms ease-in-out;
    animation: moveFromTop 300ms ease-in-out;
}

.sidebar-menu-white-sub .bty-menu4 li:hover > a {
    color: #499bc7;
}

.sidebar-menu-white-sub .bty-menu4 li a.active {
    position: relative;
    color: #499bc7;
    border: 0;
    /*border-top: 4px solid #e67e22;
    border-bottom: 4px solid #e67e22;
    margin-top: -4px;*/
    box-shadow: 0 0 5px #DDD;
    -moz-box-shadow: 0 0 5px #DDD;
    -webkit-box-shadow: 0 0 5px #DDD;
    border-left: 4px solid #499bc7;
    border-right: 4px solid #499bc7;
    margin: 0 -4px;
}

.sidebar-menu-white-sub .bty-menu4 li a.active:before {
    content: "";
    position: absolute;
    /*top: 0;
    left: 45%;
    border-top: 5px solid #e67e22;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;*/
    top: 42%;
    left: 0;
    border-left: 5px solid #499bc7;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

.sidebar-menu-white-sub .bty-menu4 li a.active:after {
    content: "";
    position: absolute;
    top: 42%;
    right: 0;
    border-right: 5px solid #499bc7;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
}

@-webkit-keyframes moveFromTop {
    from {
        opacity: 0;
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
        transform: translateY(0%);
    }
}

.sidebar-menu-white-sub .bty-menu4 li ul,
.sidebar-menu-white-sub .bty-menu4 li ul li ul {
    position: absolute;
    height: auto;
    min-width: 200px;
    right: -205px;
    padding: 0;
    margin: 0;
    background: #FFF;
    opacity: 0;
    visibility: hidden;
    transition: all 300ms linear;
    -o-transition: all 300ms linear;
    -ms-transition: all 300ms linear;
    -moz-transition: all 300ms linear;
    -webkit-transition: all 300ms linear;
    z-index: 1000;
    list-style: none;
    top: 0;
    border-left: 4px solid #499bc7;
}

.sidebar-menu-white-sub .bty-menu4 li ul:before {
    content: "";
    position: absolute;
    /*top: -8px;
    left: 23%;
    border-bottom: 5px solid #e67e22;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;*/
    top: 25px;
    left: -9px;
    border-right: 5px solid #499bc7;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.sidebar-menu-white-sub .bty-menu4 li:hover > ul,
.sidebar-menu-white-sub .bty-menu4 li ul li:hover > ul {
    display: block;
    opacity: 1;
    visibility: visible;
}

.sidebar-menu-white-sub .bty-menu4 li ul li a {
    padding: 10px;
    text-align: left;
    border: 0;
    border-bottom: 1px solid #EEE;
    height: auto;
}

.sidebar-menu-white-sub .bty-menu4 li ul li a i {
    font-size: 16px;
    display: inline-block;
    margin: 0 10px 0 0;
}

.sidebar-menu-white-sub .bty-menu4 li ul li ul {
    left: 230px;
    top: 0;
    border: 0;
    border-left: 4px solid #499bc7;
}

.sidebar-menu-white-sub .bty-menu4 li ul li ul:before {
    content: "";
    position: absolute;
    top: 15px;
    left: -9px;
    border-right: 5px solid #499bc7;
    border-bottom: 5px solid transparent;
    border-top: 5px solid transparent;
}

.sidebar-menu-white-sub .bty-menu4 li ul li:hover > ul {
    top: 0;
    left: 200px;
}

@media only screen and (min-width: 960px) and (max-width: 1199px) {
    .sidebar-menu-white-sub .bty-menu4 {
        margin-left: 10px;
    }
}

@media only screen and (min-width: 768px) and (max-width: 959px) {
    .sidebar-menu-white-sub .bty-menu4 {
        width: 100%;
    }

    .sidebar-menu-white-sub .bty-menu4 li a {
        /*height: 30px;*/
    }

    .sidebar-menu-white-sub .bty-menu4 li a i {
        font-size: 22px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a strong {
        font-size: 12px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a small {
        font-size: 10px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a.search input {
        width: 120px;
        font-size: 12px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a.search buton {
        padding: 8px 10px 9px 10px;
    }

    .sidebar-menu-white-sub .bty-menu4 li > ul {
        min-width: 180px;
    }

    .sidebar-menu-white-sub .bty-menu4 li:hover > ul {
        min-width: 180px;
        left: 200px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li > ul, .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul {
        min-width: 150px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li:hover > ul {
        left: 180px;
        min-width: 150px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li:hover > ul {
        left: 150px;
        min-width: 150px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul a {
        font-size: 12px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul a i {
        font-size: 14px;
    }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {

    .sidebar-menu-white-sub .bty-menu4 {
        width: 100%;
    }

    .sidebar-menu-white-sub .bty-menu4 li a {
        position: relative;
        padding: 12px 16px;
        height: 55px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a small {
        display: none;
    }

    .sidebar-menu-white-sub .bty-menu4 li a strong {
        display: none;
    }

    .sidebar-menu-white-sub .bty-menu4 li a:hover strong, .sidebar-menu-white-sub .bty-menu4 li a.active strong {
        display: block;
        font-size: 10px;
        padding: 3px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #499bc7;
        color: #FFF;
        min-width: 100%;
        text-transform: lowercase;
        font-weight: normal;
        text-align: center;
    }

    .sidebar-menu-white-sub .bty-menu4 li .search {
        display: none;
    }

    .sidebar-menu-white-sub .bty-menu4 li > ul {
        width: 110px;
        left: 70px;
    }

    .sidebar-menu-white-sub .bty-menu4 li:hover > ul {
        min-width: 110px;
        left: 50px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li > ul, .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul {
        width: 150px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li:hover > ul {
        left: 110px;
        width: 100px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul {
        left: 35px;
        top: 45px;
        border: 0;
        border-top: 4px solid #499bc7;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul:before {
        left: 30px;
        top: -9px;
        border: 0;
        border-bottom: 5px solid #499bc7;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li:hover > ul {
        left: 30px;
        width: 100px;
        top: 35px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul a {
        font-size: 12px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul a i {
        font-size: 14px;
    }

}

@media only screen and (max-width: 479px) {
    .sidebar-menu-white-sub .bty-menu4 {
        width: 50px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a {
        position: relative;
        padding: 12px 16px;
        height: 55px;
    }

    .sidebar-menu-white-sub .bty-menu4 li a small {
        display: none;
    }

    .sidebar-menu-white-sub .bty-menu4 li a strong {
        display: none;
    }

    .sidebar-menu-white-sub .bty-menu4 li a:hover strong, .sidebar-menu-white-sub .bty-menu4 li a.active strong {
        display: block;
        font-size: 10px;
        padding: 3px 0;
        position: absolute;
        bottom: 0;
        left: 0;
        background: #499bc7;
        color: #FFF;
        min-width: 100%;
        text-transform: lowercase;
        font-weight: normal;
        text-align: center;
    }

    .sidebar-menu-white-sub .bty-menu4 li .search {
        display: none;
    }

    .sidebar-menu-white-sub .bty-menu4 li > ul {
        min-width: 100px;
        left: 70px;
    }

    .sidebar-menu-white-sub .bty-menu4 li:hover > ul {
        min-width: 100px;
        left: 50px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li > ul, .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul {
        min-width: 100px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li:hover > ul {
        left: 110px;
        width: 90px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul {
        left: 35px;
        top: 45px;
        border: 0;
        border-top: 4px solid #499bc7;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li > ul:before {
        left: 30px;
        top: -9px;
        border: 0;
        border-bottom: 5px solid #499bc7;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul li ul li:hover > ul {
        left: 30px;
        min-width: 100px;
        top: 35px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul a {
        font-size: 12px;
    }

    .sidebar-menu-white-sub .bty-menu4 li ul a i {
        font-size: 14px;
    }

}