.top-bar, .main-cont, .top , .left-top, .left-bottom{
    border: 1px solid #000;
}
.left-bar{
    height: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
.top-bar{
    min-height: 100px;
    margin-bottom: 20px;
}
.main-cont {
    min-height: 680px;
}
.div-flex{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.top{
    min-height: 100px;
    margin-bottom: 20px;
}
.left-top{
    min-height: 100px;
    margin-bottom: 20px;
}
.left-bottom{
    height: 100%;
}