a {
    color: #30323A;
    -webkit-transition: 0.3s color;
    transition: 0.3s color;
}

a:hover, a:focus {
    color: #499bc7;
    text-decoration: none;
    outline: none;
}

.primary-color {
    color: #499bc7;
}

.white-color {
    color: #FFF;
}

.font-weak {
    font-weight: 400;
}

strong {
    color: #30323A;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none
}
#header {
    padding-top: 15px;
    padding-bottom: 15px;
}

/*----------------------------*\
	Account header
\*----------------------------*/

.header-btns>li {
    display: inline-block;
    vertical-align: top;
    padding: 15px 0;
}

.header-btns>li+li {
    margin-left: 15px;
}

.header-btns>li .header-btns-icon {
    position: relative;
    float: left;
    margin-right: 15px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #30323A;
    background-color: #FFF;
    border: 1px solid #DADADA;
}

.header-btns .dropdown-toggle {
    display: block;
    cursor: pointer;
}

.header-account.dropdown .custom-menu>li>a>i {
    margin-right: 15px;
    color: #499bc7;
}
/*----------------------------*\
	Dropdowns
\*----------------------------*/

.custom-menu {
    position: absolute;
    padding: 15px;
    background: #FFF;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
    z-index: 100;
    top: 100%;
    min-width: 200px;
    opacity: 0;
    visibility: hidden;
    -webkit-transition: 0.3s all;
    transition: 0.3s all;
}

.dropdown.open>.custom-menu {
    opacity: 1;
    visibility: visible;
}

/*-- Default Dropdown --*/

.dropdown.default-dropdown>.custom-menu {
    border-top: 2px solid #499bc7;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(15px);
    -ms-transform: translateX(-50%) translateY(15px);
    transform: translateX(-50%) translateY(15px);
}

.dropdown.default-dropdown.open>.custom-menu {
    -webkit-transform: translateX(-50%) translateY(0px);
    -ms-transform: translateX(-50%) translateY(0px);
    transform: translateX(-50%) translateY(0px);
}

.dropdown.default-dropdown>.custom-menu>li>a {
    display: block;
    padding: 10px 0;
    text-transform: uppercase;
}