.contact-us-page{
    background: #fff;
    margin-bottom: 50px;
    -webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
    box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
}

.contact-us-page .post-thumb img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}

.contact-us-page .post-content{
    overflow: hidden;
    padding: 40px;
}
.contact-us-page h2{
    color: #444;
    font-size: 24px;
    letter-spacing: 0.5px;
    font-weight: 500;
    margin-top: 0;
}
.contact-us-page .entry-header{
    margin: 0 auto 22px;
}
.contact-us-page .entry-content{
    margin-bottom: 35px;
}
.contact-us-page .entry-content p{
    font-size: 15px;
    line-height: 25px;
    padding-top: 0;
    margin-top: 0;
}

.contact-us-page .leave-comment {
    background-color: #fff;
    color: #212121;
    margin: 30px 0;
    padding: 0;
    border: 0;
}

.contact-us-page .leave-comment h4 {
    text-transform: uppercase;
    font-weight: normal;
    color: #888;
    font-size: 16px;
    margin-bottom: 20px;
}

.contact-us-page .leave-comment .contact-form .form-control {
    background-color: #FAFAFA;
    color: #999999;
    border-radius: 0;
    font-size: 14px;
    line-height: 28px;
    padding: 20px;
    border-color: #eee;
    -webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 0 0 rgba(0, 0, 0, 0.075);
}

.contact-us-page .leave-comment .contact-form .form-control:focus {
    box-shadow: none;
    border-color: #da521e;
}

.contact-us-page .leave-comment .send-btn {
    background: #333;
    color: #fff;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
    text-transform: uppercase;
    -webkit-transition: all .33s;
    transition: all .33s;
    border-radius: 0;
}

.contact-us-page .leave-comment .send-btn:hover {
    background: #da521e;
}